<nav class="navbar az-navbar">
    <a class="navbar-brand" routerLink="/pages/users" style="padding: 0px 0px;">
        <!-- <label style="font-size: xx-large; margin: 8px 0 0 6px;color: #eee !important;">Find Mate</label> -->
        <img style="width:189px;height:38px" src="assets/img/logo/navbar.png" alt="500*500">

    </a>
    <ul>
        <li>
            <a (click)="toggleMenu()" class="collapse-menu-link ion-navicon" id="collapse-menu-link"></a>
        </li>
        <div class="pull-right">
            <div class="dropdown pull-right user-menu">
                <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false"
                    style="float:right;">
                    <i class="material-icons anim-rotate" style=" line-height: 0; margin-top: 15px;">account_circle</i>
                </a>
                <ul class="dropdown-menu top-dropdown-menu profile-dropdown">
                    <li class="user-info">
                        <div class="list-group" style="margin-bottom:0px !important" ng-click="activatetab(6)"><a
                                data-toggle="modal" data-target="#ChangPass" (click)="clickmodal()" class="list-group-item"
                                style="border: 0px !important">
                                <div class="menu-icon"><em style="font-size: 30px;color:#54b0d2" class="material-icons">account_circle</em></div>
                                <div class="menu-title ng-binding">Change Password</div>
                            </a></div>
                    </li>
                    <a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i>Log out</a>
                </ul>
            </div>
        </div>
    </ul>
</nav>
<!-- Modal -->
<div id="ChangPass" *ngIf="modal" class="modal fade" role="dialog">
    <div class=" ">
        <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
            <div class="card">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Change Password</h5>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="text-xs-left">
                    <div class="card-block">
                        <div class="form-group">
                            <input [formControl]="oldPassword" class="form-control checking-field form-control-sm ng-pristine ng-invalid ng-touched"
                                placeholder="Current Password" type="password" minlength="6">
                            <span class="help-block" *ngIf="form.get('oldPassword').touched">
                                <span class="text-danger" *ngIf="form.get('oldPassword').hasError('required')">Current
                                    Password
                                    is required</span>
                                <span class="text-danger" *ngIf="form.get('oldPassword').hasError('minlength')">Current
                                    Password
                                    isn't long enough, minimum of 6 characters</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <input [formControl]="password" class="form-control checking-field form-control-sm ng-pristine ng-invalid ng-touched"
                                placeholder="New Password" type="password" minlength="6">
                            <span class="help-block" *ngIf="form.get('password').touched">
                                <span class="text-danger" *ngIf="form.get('password').hasError('required')">New
                                    Password
                                    is required</span>
                                <span class="text-danger" *ngIf="form.get('password').hasError('minlength')">New
                                    Password
                                    isn't long enough, minimum of 6 characters</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <input [formControl]="confirmPassword" class="form-control checking-field form-control-sm ng-pristine ng-invalid ng-touched"
                                placeholder="Confirm Password" type="password">
                            <span class="help-block" *ngIf="form.get('confirmPassword').touched">
                                <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('required')">Confirm
                                    Password is required</span>
                                <span class="text-danger" *ngIf="form.get('confirmPassword').hasError('mismatchedPasswords')">Passwords
                                    do not match</span>
                            </span>
                        </div>
                        <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-sm">Save</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>