<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="col-lg-12 col-xs-12 bottom-15" id="background-style">
    <div class="clearfix">
        <ul class="nav nav-tabs top pull-xs-left" style="margin-top:  16px;" id="nav-tab">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" (click)="activeDate(1)" href="#ActiveDates">Active Dates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" (click)="completeDates(1)" href="#CompletedDates">Completed Dates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" (click)="expiredDates(1)" href="#ExpiredDates">Expired Dates</a>
            </li>
        </ul>
    </div>

    <div class="tab-content top" id="tab-border">
        <!-- ActiveDates -->
        <div class="tab-pane active" id="ActiveDates">
            <div class="modal-body" id="modal-body">
                <form name="activeDates">
                    <div class="well well-lg" style="HEIGHT:  245PX;">
                        <h3> Filters</h3>

                        <div class="row col-md-12">
                            <div class="form-group  col-md-3">
                                <label>Schedule Date From</label>
                                <my-date-picker id="txtUpdateDate1" (dateChanged)="setActiveFromDate($event.formatted)"></my-date-picker>
                            </div>
                            <div class="form-group  col-md-3">
                                <label>Schedule Date To </label>
                                <my-date-picker id="txtUpdateDate2" (dateChanged)="setActiveToDate($event.formatted)"></my-date-picker>
                            </div>
                            <div class="form-group  col-md-2">
                                <label>Type </label>
                                <select class="form-control form-control-md" #ActiveDateType (change)="setActiveDateType(ActiveDateType.value)" style="height:  34px;">
                                    <option value="All">All</option>
                                    <option value="physicalDate">Physical Date </option>
                                    <option value="videoDate">Video Date</option>
                                    <option value="audioDate">Audio Date</option>

                                </select>
                            </div>
                            <!-- <div class="form-group  col-md-2">
                                <label>Rating</label>
                                <select class="form-control form-control-md" #ActiveDateRating (change)="setActiveDateRating(ActiveDateRating.value)" style="height:  34px;">
                                    <option value="All">All</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div> -->
                            <div class="form-group  col-md-2">
                                <label>Status</label>
                                <select class="form-control form-control-md" style="height:  34px;" #ActiveDateStatus (change)="setActiveDateStatus(ActiveDateStatus.value)">
                                    <option value="All">All</option>
                                    <option value="Confirmed">Confirmed</option>
                                    <option value="NotConfirmed">Pending</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Rejected">Rejected</option>
                                    <option value="Expired">Expired</option>
                                </select>
                            </div>
                            <div class="form-group  col-md-10">
                                <label>Search</label>
                                <input type="text" class="form-control form-control-sm" #ActiveDateText (keyup)="setActiveDateText(ActiveDateText.value)"
                                    placeholder="Seach by Name, Email or PhoneNo" />
                            </div>
                            <div class="form-group  col-md-2">
                                <br>
                                <button class="btn btn-primary" type="reset" style="height:34px;" (click)="resetActiveDates()">Re-Set
                                    Filters
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0">
                    <div widget class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">No</th>
                                        <th style="text-align: center">Date Requested By </th>
                                        <th style="text-align: center">Dated Created On</th>
                                        <th style="text-align: center">Date Type</th>
                                        <th style="text-align: center">Date Schedule</th>
                                        <th style="text-align: center">Opponent </th>
                                        <th style="text-align: center">Activity Timeline </th>
                                        <th style="text-align: center">Date Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!ActiveDates[0]">
                                        <td colspan="8" style="text-align: center">No Data Found</td>
                                    </tr>
                                    <tr *ngFor="let obj of ActiveDates |   paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                                        [attr.data-index]="i">
                                        <td style="text-align: center">{{i+1}}</td>
                                        <td style="text-align: center">
                                            <button type="button" class="btn btn-link" (click)="userDetailsModal(obj.DateRequestedById)" style="font-size: 12px;">
                                                {{obj.DateRequestedBy}}
                                            </button>
                                        </td>
                                        <td style="text-align: center">{{obj.DatedCreatedOn | date:"medium" }}</td>
                                        <td style="text-align: center">{{obj.DateType}}</td>
                                        <td style="text-align: center">{{obj.DateSchedule | date:"medium" }}</td>
                                        <td style="text-align: center">
                                            <button type="button" class="btn btn-link" (click)="userDetailsModal(obj.OpponentId)" style="font-size: 12px;">
                                                {{obj.Opponent}}
                                            </button>
                                        </td>
                                        <td style="text-align: center">
                                            <button class="btn btn-link" (click)="openActiveDetailPage(obj._id)" style="font-size: 12px;">{{obj.ActivityTimeline}}</button>
                                        </td>
                                        <td style="text-align: center">{{obj.DateStatus}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="activeDate($event)" class="cursor-pointer float-right"></pagination-controls>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CompletedDates -->
        <div class="tab-pane" id="CompletedDates">
            <div class="modal-body" id="completeModalBody">
                <form name="CompletedDates">
                    <div class="well well-lg" style="HEIGHT:  245PX;">
                        <h3> Filters</h3>

                        <div class="row col-md-12">
                            <div class="form-group  col-md-3">
                                <label>Schedule Date From</label>
                                <my-date-picker id="txtUpdateDate1" (dateChanged)="setCompletedFromDate($event.formatted)"></my-date-picker>
                            </div>
                            <div class="form-group  col-md-3">
                                <label>Schedule Date To </label>
                                <my-date-picker id="txtUpdateDate2" (dateChanged)="setCompletedToDate($event.formatted)"></my-date-picker>
                            </div>
                            <div class="form-group  col-md-2">
                                <label>Type </label>
                                <select class="form-control form-control-md" #CompleteDateType (change)="setCompletedDateType(CompleteDateType.value)" style="height:  34px;">
                                    <option value="All">All</option>
                                    <option value="physicalDate">Physical Date</option>
                                    <option value="videoDate">Video Call</option>
                                    <option value="audioDate">Audio Date</option>

                                </select>
                            </div>
                            <div class="form-group  col-md-2">
                                <label>Rating</label>
                                <select class="form-control form-control-md" #CompleteDateRating (change)="setCompletedDateRating(CompleteDateRating.value)"
                                    style="height:  34px;">
                                    <option value="All">All</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group  col-md-2">
                                <label>Status</label>
                                <select class="form-control form-control-md" style="height:  34px;" #CompleteDateStatus (change)="setCompletedDateStatus(CompleteDateStatus.value)">
                                    <option value="All">All</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Expired">Expired</option>
                                    <option value="Rejected">Rejected</option>

                                </select>
                            </div>
                            <div class="form-group  col-md-10">
                                <label>Search</label>
                                <input type="text" class="form-control form-control-sm" #CompleteDateText (keyup)="setCompletedDateText(CompleteDateText.value)"
                                    placeholder="Seach by Name, Email or PhoneNo" />
                            </div>
                            <div class="form-group  col-md-2">
                                <br>
                                <button class="btn btn-primary" type="reset" style="height:34px;" (click)="resetCompletedDates()">Re-Set
                                    Filters
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0">
                    <div widget class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">No</th>
                                        <th style="text-align: center">Date Requested By </th>
                                        <th style="text-align: center">Requestor Rating </th>
                                        <th style="text-align: center">Dated Created On</th>
                                        <th style="text-align: center">Date Type</th>
                                        <th style="text-align: center">Date Schedule</th>
                                        <th style="text-align: center">Opponent </th>
                                        <th style="text-align: center">Opponent Rating </th>
                                        <th style="text-align: center">Activity Timeline </th>
                                        <th style="text-align: center">Date Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!CompletedDates[0]">
                                        <td colspan="10" style="text-align: center">No Data Found</td>
                                    </tr>
                                    <tr *ngFor="let obj of CompletedDates | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                                        [attr.data-index]="i">
                                        <td style="text-align: center">{{i+1}}</td>
                                        <td style="text-align: center">
                                            <button type="button" class="btn btn-link" (click)="userDetailsModal(obj.DateRequestedById)" style="font-size: 12px;">
                                                {{obj.DateRequestedBy}}
                                            </button>
                                        </td>
                                        <!-- <td style="text-align: center" *ngIf="obj.RequestorRating =='' || obj.RequestorRating == 'N/A' ||obj.RequestorRating ==null">{{"N/A"}}</td> -->
                                        <td style="text-align: center">{{obj.RequestorRating }}</td>
                                        <td style="text-align: center">{{obj.DatedCreatedOn | date:"medium" }}</td>
                                        <td style="text-align: center">{{obj.DateType}}</td>
                                        <td style="text-align: center">{{obj.DateSchedule | date:"medium" }}</td>
                                        <td style="text-align: center">
                                            <button type="button" class="btn btn-link" (click)="userDetailsModal(obj.OpponentId)" style="font-size: 12px;">
                                                {{obj.Opponent}}
                                            </button>
                                        </td>
                                        <!-- <td style="text-align: center" *ngIf="obj.OpponentRating =='' || obj.OpponentRating == 'N/A' ||obj.OpponentRating ==null">{{"N/A"}}</td> -->
                                        <td style="text-align: center">{{obj.OpponentRating}}</td>
                                        <td style="text-align: center">
                                            <button class="btn btn-link" (click)="openCompletedDetailPage(obj._id)" style="font-size: 12px;">{{obj.ActivityTimeline}}</button>
                                        </td>
                                        
                                        <td style="text-align: center">{{obj.DateStatus}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="completeDates($event)" class="cursor-pointer float-right"></pagination-controls>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- expire date -->
        <div class="tab-pane" id="ExpiredDates">
            <div class="modal-body" id="expiredModal">
                <form name="ExpiredDate">
                    <div class="well well-lg" style="HEIGHT:  245PX;">
                        <h3> Filters</h3>

                        <div class="row col-md-12">
                            <div class="form-group  col-md-3">
                                <label>Schedule Date From</label>
                                <my-date-picker id="txtUpdateDate1" (dateChanged)="setExpiredFromDate($event.formatted)"></my-date-picker>
                            </div>
                            <div class="form-group  col-md-3">
                                <label>Schedule Date To </label>
                                <my-date-picker id="txtUpdateDate2" (dateChanged)="setExpiredToDate($event.formatted)"></my-date-picker>
                            </div>
                            <div class="form-group  col-md-2">
                                <label>Type </label>
                                <select class="form-control form-control-md" #ExpiredDateType (change)="setExpiredDateType(ExpiredDateType.value)" style="height:  34px;">
                                    <option value="All">All</option>
                                    <option value="physicalDate">Physical Date</option>
                                    <option value="videoDate">Video Call</option>
                                    <option value="audioDate">Audio Date</option>

                                </select>
                            </div>

                            <div class="form-group  col-md-2">
                                <label>Status</label>
                                <select class="form-control form-control-md" style="height:  34px;" #ExpiredDateStatus (change)="setExpiredDateStatus(ExpiredDateStatus.value)">
                                    <option value="All">All</option>
                                    <option value="Expired">Expired</option>
                                </select>
                            </div>
                            <div class="form-group  col-md-10">
                                <label>Search</label>
                                <input type="text" class="form-control form-control-sm" #ExpiredDateText (keyup)="setExpiredDateText(ExpiredDateText.value)"
                                    placeholder="Seach by Name, Email or PhoneNo" />
                            </div>
                            <div class="form-group  col-md-2">
                                <br>
                                <button class="btn btn-primary" type="reset" style="height:34px;" (click)="resetExpiredDates()">Re-Set
                                    Filters
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0">
                    <div widget class="card">
                        <div class="table-responsive">
                            <table class="table table-bordered hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">No</th>
                                        <th style="text-align: center">Date Requested By </th>
                                        <th style="text-align: center">Dated Created On</th>
                                        <th style="text-align: center">Date Type</th>
                                        <th style="text-align: center">Date Schedule</th>
                                        <th style="text-align: center">Opponent </th>
                                        <th style="text-align: center">Activity Timeline </th>
                                        <th style="text-align: center">Date Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!ExpiredDates[0]">
                                        <td colspan="8" style="text-align: center">No Data Found</td>
                                    </tr>
                                    <tr *ngFor="let obj of ExpiredDates |  paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                                        [attr.data-index]="i">
                                        <td style="text-align: center">{{i+1}}</td>
                                        <td style="text-align: center">

                                            <button type="button" class="btn btn-link" (click)="userDetailsModal(obj.DateRequestedById)" style="font-size: 12px;">
                                                {{obj.DateRequestedBy}}
                                            </button>


                                        </td>
                                        <td style="text-align: center">{{obj.DatedCreatedOn | date:"medium" }}</td>
                                        <td style="text-align: center">{{obj.DateType}}</td>
                                        <td style="text-align: center">{{obj.DateSchedule | date:"medium" }}</td>
                                        <td style="text-align: center">

                                            <button type="button" class="btn btn-link" (click)="userDetailsModal(obj.OpponentId)" style="font-size: 12px;">
                                                {{obj.Opponent}}
                                            </button>

                                        </td>
                                        <td style="text-align: center">
                                            <button class="btn btn-link" (click)="openExpiredDetailPage(obj._id)" style="font-size: 12px;">{{obj.ActivityTimeline}}</button>
                                        </td>
                                        <td style="text-align: center">{{obj.DateStatus}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="expiredDates($event)" class="cursor-pointer float-right"></pagination-controls>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- UserDetailsModal -->
<div id="userDetails" class="modal modal-custom fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height: 530px; width: 100%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> User Details</h4>
            </div>
            <form [formGroup]="userDetailForm" novalidate>
                <div class="col-lg-12 col-xs-12 bottom-15">
                    <div class="clearfix">
                        <ul class="nav nav-tabs top pull-xs-left">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#Profile_Details">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Photo_Gallery">Photo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#video_Gallery">Video</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Preferences">Preferences</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content top">
                        <div class="tab-pane active" id="Profile_Details">
                            <div class="modal-body ">
                                <div class="col-md-3 col-lg-3" style="padding-left: 0px;">
                                    <img src="{{userDetails.ProfilePhoto}}" style="height: 100px;width: 100px;">
                                </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody id="userDetails-Style">
                                            <tr>
                                                <td>Name </td>
                                                <td>{{userDetails.Name}}</td>
                                            </tr>
                                            <tr>
                                                <td> Phone No </td>
                                                <td>{{userDetails.PhoneNo}}</td>
                                            </tr>
                                            <tr>
                                                <td>Email </td>
                                                <td>{{userDetails.Email}}</td>
                                            </tr>

                                            <tr>
                                                <td>Registration date and time</td>
                                                <td>{{userDetails.RegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                                            </tr>
                                            <tr>
                                                <td>Date Of Birth </td>
                                                <td>{{userDetails.DateOfBirth | date: 'dd/MM/yyyy'}}</td>
                                            </tr>
                                            <tr>
                                                <td>Age</td>
                                                <td>{{userDetails.Age}} </td>
                                            </tr>
                                            <tr>
                                                <td>Gender</td>
                                                <td>{{userDetails.Gender}}</td>
                                            </tr>
                                            <tr>
                                                <td>Height</td>
                                                <td>{{userDetails.Height}}</td>
                                            </tr>
                                            <tr>
                                                <td>About Me</td>
                                                <td>{{userDetails.about}}</td>
                                            </tr>
                                            <tr>
                                                <td>Registered From ( City / Country )</td>
                                                <td>{{userDetails.RegisteredFrom}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Photo_Gallery model -->
                        <div class="tab-pane" id="Photo_Gallery">
                            <div class="modal-body col-md-12">
                                <div class="col-md-4" *ngFor="let userImg of userDetails.OtherPhotos let i = index">
                                    <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%" alt="Cinque Terre">
                                </div>
                            </div>
                        </div>
                        <!-- video_Gallery model -->
                        <div class="tab-pane" id="video_Gallery">
                            <div class="modal-body col-md-12">
                                <div class="col-md-4 testVideo">
                                    <div *ngIf="userDetails.ProfileVideo == 0">
                                        <img src="assets/hqdefault.jpg" width="500px" height="400px" title="No Profile Video Of this User" />
                                    </div>
                                    <div *ngIf="userDetails.ProfileVideo != 0 ">
                                        <video class="videoAutoPlay" width="500px" height="400px" controls>
                                            <source src="" type="video/mp4" allowfullscreen>
                                            <source src="" type="video/mov" allowfullscreen>
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- prefrences model -->
                        <div class="tab-pane" id="Preferences">
                            <div style="margin:2%">
                                <div *ngFor="let obj of prefData">
                                    <div *ngIf="obj.type==3">
                                        <label>
                                            <h5>{{obj.title}} : </h5>
                                        </label><b> {{obj.selectedValue}} </b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>