@import "../theme/styles/variables";

.login-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    .card{
        padding: 15px;
        width: 58%;
        .btn-link{
            padding: 0;
            &.forgot{
                font-size: 14px;
            }
            &:hover{
                color: $main-color;
            }
        }
           margin-bottom: 5.75rem; // me
    }
}


.auth-sep {
  margin-top: 32px;
  margin-bottom: 24px;
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  display: block;
  position: relative;
  & > span {
    display: table-cell;
    width: 30%;
    white-space: nowrap;
    padding: 0 14px;
    color: $gray;
    & > span {
      margin-top: -11px;
      display: block;
      font-weight: 300;
    }
  }
  &:before, &:after {
    border-top: solid 1px $gray-light;
    content: "";
    height: 1px;
    width: 35%;
    display: table-cell;
  }
}

.mainBG{
    background-image: url("assets/img/logo/signin_bg_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9% 0 0 33%;
    height: 100%;
    width: 100%;    
        

}
.img-logoDatum{
    padding: 0 0 0 11%;
    margin: 0px 0px 0px 0px;

}

.login-help{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
        display: inline-block;
        margin-left: 10px;
        &:first-child {
            margin-left:0;
        }
        i{
            cursor: pointer;
            transition: all 0.1s ease;
            color: #fff;
            padding: 9px 9px 6px 9px;
            font-size: 12px;
            background-color: $main-color;
            &.socicon-facebook{
                background-color: $facebook-color;
            }
            &.socicon-twitter{
                background-color: $twitter-color;
            }
            &.socicon-google{
                background-color: $google-color;
            }
            &:hover{                         
                opacity: 0.9;     
            }
        }
    }
}

label{
    color: #4B6674 !important;
    font-weight: bold;
    font-size:12px;
}
.loginstyle{
    background: rgba(0, 0, 0, 0.55);
}
.form-control{
    border-radius: 25px;
   
    padding: 10px; 
    
}