<div class="login-container">
    <div class="col-md-12" class="mainBG">
        <img src="assets/img/logo/datum_logo.png" class="img-logoDatum">
        <div class="card">
            <div class="card-block text-xs-center">
                <h2 class="card-title" style="color:#4B6674">Sign in to Find Mate</h2>
                <form [formGroup]="form" (ngSubmit)="onSubmit($event,form.value)" class=" text-xs-left">
                    <div class="form-group">
                        <label>Username:</label>
                        <input [formControl]="username" style="border-radius: 20px;" class="form-control checking-field form-control-sm ng-pristine ng-invalid ng-touched"
                            placeholder="Enter UserName" type="text">
                        <span class="help-block text-danger" *ngIf="form.get('username').touched && form.get('username').hasError('required')">UserName
                            is required</span>
                        <span class="help-block text-danger" *ngIf="form.get('username').touched && form.get('username').hasError('invalid')">Invalid
                            UserName
                        </span>
                        <span class="help-block text-danger" role="alert" *ngIf="error">{{errorMessage}}</span>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input [formControl]="password" style="border-radius: 20px;" class="form-control checking-field form-control-sm ng-pristine ng-invalid ng-touched"
                            placeholder="Enter Password" type="password">
                        <span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password
                            is required</span>
                        <span class="help-block text-danger" *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password
                            isn't long enough, minimum of 6 characters</span>
                        <span class="help-block text-danger" role="alert" *ngIf="errorP">{{errorMessage}}</span>
                    </div>
                    <div class="help-block text-danger" role="alert" *ngIf="errorI">{{errorMessage}}</div>
                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-main btn-block" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- forgot password Modal -->
<div id="forgotPass" *ngIf="forgotModal" class="modal fade" role="dialog">
    <div class=" ">
        <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
            <div class="card">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">Forgot Password</h5>
                </div>
                <form [formGroup]="formForgotPas" (ngSubmit)="onSubmitPas(formForgotPas.value)" class="text-xs-left">
                    <div class="card-block">
                        <div class="form-group">
                            <input [formControl]="forgotEmail" class="form-control checking-field form-control-sm ng-pristine ng-invalid ng-touched"
                                placeholder="enter your email" type="text">
                            <span class="help-block text-danger" *ngIf="formForgotPas.get('forgotEmail').touched && formForgotPas.get('forgotEmail').hasError('required')">Email
                                is required</span> <span class="help-block text-danger" *ngIf="formForgotPas.get('forgotEmail').touched && formForgotPas.get('forgotEmail').hasError('invalidEmail')">Invalid
                                email address</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!formForgotPas.valid" type="submit" class="btn btn-primary btn-sm">Save</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>