<html>

<head>
  <title>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="clearfix">
    <div>
      <ol class="breadcrumb" id="breadcumb">
        <li (click)="refresh()" class="breadcrumb-item active">FRIENDSHIP</li>
      </ol>
    </div>
    <!-- </div> -->
    <div class="col-lg-12 col-xs-12 bottom-15" style="bottom: 20px;">
      <div class="clearfix">
        <ul class="nav nav-tabs top pull-xs-left" style="margin-top:  16px;  border-bottom: none;">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" (click)="getSubcriptionDetails(1)" href="#Active">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="getExpiredSubcriptionDetails(1)" href="#Deleted">Deleted</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" (click)="getUnfriendedDetails(1)" href="#Unfriended">Unfriended</a>
          </li>
        </ul>
      </div>
      <div class="tab-content top" id="tab-contenttop">
        <div class="tab-pane active" id="Active">
          <div class="modal-body" style="height: 500px;">
            <form name="ActivePlan">
              <div class="row ">
               
              </div>
            </form>
            <div class="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 ">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>FriendRequestSentBy </th>
                            <th>FriendRequestSentTo</th>
                            <th>Status </th>
                            <th>Requested On </th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody id="table-align">
                          <tr *ngIf="!SubcriptionData">
                            <td colspan="8">No Data Found</td>
                          </tr>
                          <tr
                            *ngFor="let subcription of SubcriptionData  | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>{{subcription.friendRequestSentBy.firstName}}</td>
                            <td>{{subcription.friendRequestSentTo.firstName}}</td>
                            <td>{{subcription.friendRequestStatus}} </td>
                            <td>{{subcription.friendRequestSentOn | date:'medium'}}</td>
                            <td> <button type="button" class="btn-warning" data-toggle="modal" title="UNFRIEND"
                                (click)="updateStatus(subcription,1)">
                                UNFRIEND
                              </button>


                              <!-- <button type="button" class="btn-danger" title="DELETE"
                                (click)="updateStatus(subcription,2)">
                                DELETE
                              </button> -->
                            </td>

                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="getSubcriptionDetails($event)"
                        class="cursor-pointer float-right"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane " id="Deleted">
          <form name="ActivePlan">
            <div class="row ">
              
            </div>
          </form>
          <div class="clearfix">
            <div class="row">
              <div style="margin: 17px 0 0 0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                <div widget class="card">
                  <div class="table-responsive" id="table-responsive">
                    <table class="table table-bordered hover">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>FriendRequestSentBy </th>
                          <th>FriendRequestSentTo</th>
                          <th>Status </th>
                          <th>Requested On </th>
                          <th>Deleted on
                          </th>
                        </tr>
                      </thead>
                      <tbody id="table-align">
                        <tr *ngIf="!deleteSubcriptionData">
                          <td colspan="8">No Data Found</td>
                        </tr>
                        <tr
                          *ngFor="let exsubcription of deleteSubcriptionData |paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                          [attr.data-index]="i">
                          <td>{{i+1}}</td>
                          <td>{{exsubcription.friendRequestSentBy.firstName}}</td>
                          <td>{{exsubcription.friendRequestSentTo.firstName}}</td>
                          <td>{{exsubcription.friendRequestStatus}} </td>
                          <td>{{exsubcription.friendRequestSentOn | date:'medium'}}</td>
                          <td>{{exsubcription.friendDeletedOn | date:'medium'}} </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="getExpiredSubcriptionDetails($event)"
                      class="cursor-pointer float-right"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane " id="Unfriended">
          <form name="ActivePlan">
            <div class="row ">
              
            </div>
          </form>
          <div class="clearfix">
            <div class="row">
              <div  style="margin: 17px 0 0 0;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                <div widget class="card">
                  <div class="table-responsive" id="table-responsive">
                    <table class="table table-bordered hover">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>FriendRequestSentBy </th>
                          <th>FriendRequestSentTo</th>
                          <th>Status </th>
                          <th>Requested On </th>
                          <th>Unfriended By</th>
                          <th>Unfriended On</th>
                          <!-- <th>Action</th> -->

                        </tr>
                      </thead>
                      <tbody id="table-align">
                        <tr *ngIf="!deleteSubcriptionData">
                          <td colspan="8">No Data Found</td>
                        </tr>
                        <tr
                          *ngFor="let exsubcription of deleteSubcriptionData |paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                          [attr.data-index]="i">
                          <td>{{i+1}}</td>
                          <td>{{exsubcription.friendRequestSentBy.firstName}}</td>
                          <td>{{exsubcription.friendRequestSentTo.firstName}}</td>
                          <td>{{exsubcription.friendRequestStatus}} </td>
                          <td>{{exsubcription.friendRequestSentOn | date:'medium'}}</td>
                          <td>{{exsubcription.friendRequestSentTo.firstName}}</td>
                          <td>{{exsubcription.friendUnfriendedOn | date:'medium'}}</td>
                          <!-- <td>
                            <button type="button" class="btn-danger" title="DELETE"     (click)="updateStatus(exsubcription,2)">
                              DELETE
                            </button>
                          </td> -->
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls (pageChange)="getUnfriendedDetails($event)" class="cursor-pointer float-right">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>