@import "../../styles/variables";

.breadcrumb{
  //  padding: 0; // me
    background: #ffffff; // transparent before
    color: $text-color;
    font-size: 14px;
    margin-bottom: 8px; // before 30
}
.breadcrumb-item + .breadcrumb-item::before {  
    color: $text-color;
    content: ">";
}
.breadcrumb-item{
    padding: 0px 0px 0px 18px; // before no padding
    float: left;
    &.active{
    //   color: $text-color;// before
       color: #4B6674;
       font-weight: bold;
       font-size:18px;//me
     //  font-family: Graphic-Medium;//me
    }
}
.btn-primary{
    background: #22a1e4;
    border-radius: 2px;
    height: 30px;
    color: #fff;
}