<div class="clearfix" style="content: none">
    <ol class="breadcrumb" style="margin: 25px 0 0 0; " >
        <!--<li class="breadcrumb-item text-uppercase">Dashboard</li>-->
        <li (click)="refresh()" class="breadcrumb-item active">Search Preferences</li>
        <!-- <li class="pull-right">
            <button class="btn btn-primary btn-sm" type="button" (click)="prefrenceModel()">AddNew</button>
        </li> -->
    </ol>
</div>
<div id="loaderCustom" *ngIf="loader"></div>

<div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
        <div widget class="card custom-card">
            <div class="card-block widget-body custom-card-block">
                <div class="row prl-10">
                    <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- <input type="text" class="form-control" placeholder="Search by Preference name" [formControl]="searchControl"> -->

                    </div>
                    <div class="form-group col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-30">
                    </div>
                </div>

                <div class="group" *ngFor="let pref of  preferences | paginate: {itemsPerPage: '8', currentPage:page, id: '1'}; let j=index">
                    <form>
                        <div widget class="card mrl-10 0">
                            <div class="card-block widget-body card-block-group">
                                <div class="row prl-10 form-fields">
                                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-5 col-xs-12">
                                        <label for="input-2">{{j+1}}. Preference Name</label>
                                        <input disabled *ngIf="!(tickbox==j)" value="{{pref.PreferenceTitle}}" type="text"
                                            class="form-control" id="input-2" name="PreferenceTitle" placeholder="Enter field name">
                                        <input *ngIf="(tickbox==j)" formControlName="PreferenceTitle" type="text" class="form-control"
                                            id="input-2" name="PreferenceTitle" placeholder="Enter field name">
                                        <span class="help-block text-danger" *ngIf="hasErrorE && editPrefForm.get('PreferenceTitle').hasError('required') && tickbox==j">Field
                                            is required</span>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-5 col-xs-12">
                                        <label for="input-2">Preference Type</label>
                                        <select disabled value="{{pref.TypeOfPreference}}" *ngIf="!(tickbox==j)"
                                            (change)="check($event)" name="TypeOfPreference">
                                            <option [value]="0">Select Type</option>
                                            <option [value]="1">Radio Button</option>
                                            <option [value]="2">Checkbox</option>
                                            <option [value]="3">Single Slider</option>
                                            <option [value]="4">Double Slider</option>
                                            <option [value]="5">Text Input </option>
                                        </select>
                                        <select *ngIf="(tickbox==j)" (change)="check($event)" name="TypeOfPreference"
                                            formControlName="TypeOfPreference">
                                            <option [value]="0">Select Type</option>
                                            <option [value]="1">Radio Button</option>
                                            <option [value]="2">Checkbox</option>
                                            <option [value]="3">Single Slider</option>
                                            <option [value]="4">Double Slider </option>
                                            <option [value]="5">Text Input </option>
                                        </select>
                                        <span class="help-block text-danger" *ngIf="hasErrorE && editPrefForm.get('TypeOfPreference').hasError('required')">Field
                                            is required</span>
                                    </div>
                                    <!--<div class="col-xl-2 col-lg-2 col-md-6 col-sm-5 col-xs-12">
                                        <label for="input-2">User Preference Type</label>
                                        <select disabled value="{{pref.TypeOfPreference_user}}" *ngIf="!(tickbox==j)" name="TypeOfPreference_user">
                            <option [value]="0" >Select Type</option>
                           <option [value]="1">Radio Button</option>
                               <option [value]="2">Checkbox</option>
                               <option [value]="3">Slider</option>
                              <option [value]="4">Text Box</option>
                               </select>
                                        <select *ngIf="(tickbox==j)" (change)="check($event)" name="TypeOfPreference_user" formControlName="TypeOfPreference_user">
                                 <option [value]="0" >Select Type</option>
                           <option [value]="1">Radio Button</option>
                               <option [value]="2">Checkbox</option>
                             <option [value]="3">Slider</option>
                              <option [value]="4">Text Box</option>
                               </select>
                                        <span class="help-block text-danger" *ngIf="hasErrorE && editPrefForm.get('TypeOfPreference_user').hasError('required')">Field is required</span>
                                    </div>-->

                                    <div *ngIf="(pref.TypeOfPreference == 1 || pref.TypeOfPreference == 2)">
                                        <div  class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                            <div *ngFor="let option of pref.OptionsValue; let i=index" class="form-group col-xl-3 col-lg-3 col-md-6 col-sm-5 col-xs-12">
                                                <label *ngIf="!(tickbox==j)" for="input-2">Option :{{i+1}}</label>
                                                <input disabled *ngIf="!(tickbox==j)" type="text" class="form-control"
                                                    id="input-2" value="{{option}}" placeholder="Enter option name">
                                            </div>

                                        </div>
                                        <!-- <div *ngIf="pref.OptionsValue.length > 4 && !(tickbox==j)" class="scroll col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="scroll2 form-group col-md-12 ">
                                                <div *ngFor="let option of pref.OptionsValue; let i=index" class="col-xl-1 col-lg-1 col-md-6 col-sm-5 col-xs-12">
                                                    <label *ngIf="!(tickbox==j)" for="input-2">Option :{{i+1}}</label>
                                                    <input disabled *ngIf="!(tickbox==j)" type="text" class="form-control"
                                                        id="input-2" value="{{option}}" placeholder="Enter option name">
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-5 col-xs-12" *ngIf="(tickbox==j)"
                                            formArrayName="OptionsValue">
                                            <div *ngFor="let options of editPrefForm.controls.OptionsValue.controls; let i=index"
                                                class="panel panel-default">
                                                <div class="panel-heading">
                                                    <span>Option No. {{i + 1}}</span>
                                                    <button class="close" *ngIf="editPrefForm.controls.OptionsValue.controls.length > 1"
                                                        (click)="deleteOptionsE(i)" type="button">×</button>
                                                </div>
                                                <div>
                                                    <input type="text" formControlName="{{i}}" class="form-control"
                                                        placeholder="Title">
                                                </div>
                                            </div>
                                            <div>
                                                <button class="btn btn-xs btn-default" (click)="addOptionsE()"> Add
                                                    Option
                                                    +</button>
                                            </div>
                                        </div>
                                    </div>


                                    <div *ngIf="(pref.TypeOfPreference == 3 || pref.TypeOfPreference == 4)">
                                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-5 col-xs-12">
                                            <label for="input-2">Minimum</label>
                                            <input disabled *ngIf="!(tickbox==j)" value="{{pref.OptionsValue[0]}}" type="number"
                                                class="form-control" id="input-2" name="Start" placeholder="Enter option name">
                                            <input *ngIf="(tickbox==j)" formControlName="Start" type="number" class="form-control"
                                                id="input-2" name="Start" placeholder="Enter option name">
                                            <span class="help-block text-danger" *ngIf="hasErrorE && editPrefForm.get('Start').hasError('required') && tickbox==j">Field
                                                is required</span>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-5 col-xs-12">
                                            <label for="input-2">Maximum</label>
                                            <input disabled *ngIf="!(tickbox==j)" value="{{pref.OptionsValue[1]}}" type="number"
                                                class="form-control" id="input-2" name="End" placeholder="Enter option name">
                                            <input *ngIf="(tickbox==j)" formControlName="End" type="number" class="form-control"
                                                id="input-2" name="End" placeholder="Enter option name">
                                            <span class="help-block text-danger" *ngIf="hasErrorE && editPrefForm.get('End').hasError('required')  && tickbox==j">Field
                                                is required</span>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-5 col-xs-12">
                                            <label>Unit
                                                <sup>*</sup>
                                            </label>
                                            <select disabled *ngIf="!(tickbox==j)" value="{{pref.optionsUnits[0]}}"
                                                name="Unit" class="form-group col-xl-2 col-lg-2 col-md-6 col-sm-5 col-xs-12">
                                                <option value="ft">ft</option>
                                                <option value="cm">cm</option>
                                                <option value="years">Years</option>
                                                <option value="km">km</option>
                                                <option value="mi">mi</option>
                                                <option value="6">cm</option>
                                            </select>
                                            <select *ngIf="(tickbox==j)" name="Unit" formControlName="Unit" class="col-xl-2 col-lg-2 col-md-6 col-sm-5 col-xs-12">
                                                <option value="1">ft</option>
                                                <option value="2">cm</option>
                                                <option value="3">Years</option>
                                                <option value="4">km</option>
                                                <option value="5">mi</option>
                                                <option value="6">cm</option>
                                            </select>
                                            <div>
                                                <span class="help-block text-danger" *ngIf="hasErrorE && editPrefForm.get('Unit').hasError('required') && tickbox==j">Field
                                                    is required</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="(pref.TypeOfPreference == 5)" class="col-xl-3 col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                        <label for="input-2">Field Value</label>
                                        <input disabled *ngIf="!(tickbox==j)" value="{{pref.OptionsValue}}" type="text"
                                            class="form-control" id="input-2" name="rFeildName" placeholder="Enter option name">
                                        <input formControlName="Text" *ngIf="(tickbox==j)" type="text" class="form-control"
                                            id="input-2" name="rFeildName" placeholder="Enter option name">
                                        <span class="help-block text-danger" *ngIf="hasErrorE && editPrefForm.get('Text').hasError('required') && tickbox==j">Field
                                            is required</span>
                                    </div>
                                    
                                    <div class="">
                                        <!-- <button title="Save" type="button" *ngIf="(tickbox==j)" (click)="updatePref(editPrefForm,j,pref._id)"
                                            class="action-button pt-10">
                                            <i ng-reflect-class-name="ion-checkmark back-to-topp" class="ion-checkmark back-to-topp"></i>
                                        </button>
                                        <button type="button" title="Cancel" *ngIf="(tickbox==j)" (click)="cancelEdit()"
                                            class="action-button pt-10">
                                            <i ng-reflect-class-name="ion-close back-to-topp" class="ion-close back-to-topp"></i>
                                        </button>

                                        <button title="Edit" [disabled]="disablePref(pref.ActiveStatus)" *ngIf="!(tickbox==j)"
                                            (click)="editButton(j,pref._id)" type="button" class="action-button pt-10">
                                            <i class="ion-android-create back-to-topp" title="Edit"></i>
                                        </button> -->

                                        <!-- <button  title="Delete" 
                                            (click)="deleteButton(pref._id)"
                                            type="button" class="action-button pt-10">
                                            <i class="ion-ios-trash back-to-topp"></i>
                                        </button> -->


                                        <!-- <button title="Decrease Priority" [disabled]="disablePref(pref.ActiveStatus)"
                                            *ngIf="pref.Priority == 1 && !(tickbox==j)" type="button" class="action-button pt-10"
                                            (click)="decPriority(pref)">
                                            <span class="ion-chevron-down  back-to-topp"></span>
                                        </button>

                                        <button title="Increase Priority" [disabled]="disablePref(pref.ActiveStatus)"
                                            type="button" *ngIf="(pref.Priority == preferences.length)&&(preferences.length != 1) && !(tickbox==j)"
                                            class="action-button pt-10" (click)="incPriority(pref)">
                                            <span class="ion-chevron-up back-to-topp"></span>
                                        </button>

                                        <button title="Increase Priority" [disabled]="disablePref(pref.ActiveStatus)"
                                            *ngIf="!(pref.Priority == 1) && !(pref.Priority == preferences.length) && !(tickbox==j)"
                                            type="button" class="action-button pt-10" (click)="incPriority(pref)">
                                            <span class="ion-chevron-up back-to-topp"></span>
                                        </button>

                                        <button title="Decrease Priority" [disabled]="disablePref(pref.ActiveStatus)"
                                            *ngIf="!(pref.Priority == 1) && !(pref.Priority == preferences.length) && !(tickbox==j)"
                                            type="button" class="action-button pt-10" (click)="decPriority(pref)">
                                            <span class="ion-chevron-down back-to-topp"></span>
                                        </button> -->
                                    </div>
                                </div>

                                <!-- Modal -->
                                <div id="DelPref" class="modal fade" role="dialog">
                                    <div class="modal-dialog" *ngIf="DelId">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="delete-container">
                                                <div class="col-xl-8 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
                                                    <div class="card">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h5 class="modal-title">Are you sure to delete?</h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary btn-sm"
                                                                data-dismiss="modal" (click)="deletePref(j,DelId)">Yes</button>
                                                            <button type="button" class="btn btn-default btn-sm"
                                                                data-dismiss="modal">No</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="row prl-10 pr-25">
                           <button class="btn btn-primary button-left add-more">
                           <i aria-hidden="true" class="fa fa-plus-circle"></i>
                           Add More</button>
                           </div>-->
                            </div>
                        </div>
                    </form>
                </div>
                <pagination-controls *ngIf="preferences && (tickbox==j)" (pageChange)="page = $event" id="1" maxSize="5"
                    directionLinks="true" autoHide="true">
                </pagination-controls>
                <!--<div class="row p-25">
               <button class="btn btn-primary button-left" (click)="save(f.value, f.valid)">
                       <i aria-hidden="true" class="fa fa-plus-circle"></i>
                      Add Group</button>
               </div>-->
            </div>
        </div>
    </div>
</div>
<!--<div *ngIf="nodata">
   <div class="card-block widget-body">
      No data available
   </div>
</div> -->

<div id="addPrefrence" class="modal fade" role="dialog">
    <div class=" ">
        <div class="col-xl-8 col-md-12 col-xs-12 offset-xl-2 offset-md-2 offset-xs-1">
            <div class="card" style="width: 25%;left: 22%; padding: 20px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">ADD NEW PREFERENCE</h5>
                </div>
                <div>
                    <label>Preference Name:</label> <input type="text" #prefName required class="form-control" placeholder="Enter Prefrence Name">
                </div>
                <div class="table-responsive" id="table-responsive">
                    <label>Preference Type</label>
                    <select id="drpoDownValue" (click)="ShowHideDiv()">
                        <option value="" style="text-align: center">-- Select Type--</option>
                        <option value="4"> Double Slider</option>
                        <option value="3"> Single Slider</option>
                        <option value="1">Radio Button</option>
                    </select>

                    <div id="dvforRadio" style="display: none">
                        <div id='TextBoxesGroup'>
                            <div *ngFor="let c of count;">
                                <label>Option {{c}}: </label><input type='textbox' class="form-control" [ngClass]="'radioVal'+c">
                            </div>
                        </div>
                        <input type='button' class="btn btn-primary btn-sm" value='Add Option' id='addButton' (click)="addValue(1)">
                        <!-- <input type='button' value='Remove Button' id='removeButton' (click)="removeValue(1)"> -->

                    </div>

                    <div id="dvforslider" style="display: none">
                        MinValue<input type='number'  #minVal class="form-control" id='addButton'>
                        MaxValue<input type='number' #maxVal class="form-control" id='addButton'>
                    </div>

                    <div id="dvforUnit" style="display: none">
                        <label>Preference Unit</label>
                        <select id="unitValue">
                            <option value="" style="text-align: center">-- Select Unit--</option>
                            <option value="ftcm"> ft,cm</option>
                            <option value="kmmi"> km,mi</option>
                            <option value="mi">mi</option>
                            <option value="pound">pound</option>
                            <option value="kg">kg</option>
                            <option value="km">km</option>
                            <option value="ft">ft</option>
                            <option value="cm">cm</option>

                        </select>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm btn-style" style="height: 30px; width: 80px;  background-color:green;"
                        (click)="addpref(prefName.value,minVal.value,maxVal.value)">Add</button>
                    <button type="button" class="btn  btn-style button3" data-dismiss="modal" style="border: 1px solid #7f7f7f; height: 30px;width: 80px; padding:0px;">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>