.custom-card{
    border-radius: 5px !important;
    box-shadow: 2px 2px 10px #ddd !important;
    .custom-card-block{
      background-color: #f6f6f6 !important;
   }
   .add-more{
       background:transparent !important;
       border:1px solid dodgerblue !important;
       color: dodgerblue !important;
       padding: 0 10px !important;
       font-size: 12px;    
   }
}
.form-fields{
    font-size: 10px !important;
}
label{
    color: #4B6674 !important;
    font-weight: bold;
}
// input{
//     font-size: 10px !important;
// }
select{
    padding: 7px !important;
    width: 100% !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.action-button{
    float: left;
    margin-right: 14%;
    cursor:pointer;
    font-size: 25px !important;
    background-color: transparent !important;
    border: none !important;
    padding-top: 10px !important;
    color:  rgba(0, 0, 0, 0.75) !important;
}
.delete-button{
    font-size: 15px !important;
    color: grey !important;
    background-color: transparent !important;
    border: none !important;
}
.card-block-group{
    padding-top: 5px !important;
    padding-right: 10px !important;
}
.pr-25{
    padding-right: 25px !important;
}
.scroll {
 // width:450px;
 // height:200px;
  overflow-x: overlay;
//  overflow:scroll !important;
 overflow-y:hidden
}
.scroll2 {
      width:1400px;
//    white-space: nowrap;
    overflow-x: auto;
    
}



.breadcrumb-item{
      cursor:pointer;
  
}

.flloat{
    float:right;
    margin-bottom: 15px;
}

.back-to-topp {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    //z-index: 9999;
    text-decoration: none;
    font-size:16px;
    text-align: center;
    opacity: 0.7;
    color: #fff;
    background-color: rgba(36, 45, 58, 0.75);
    border-radius: 50%;
    line-height: 30px;
}
.btn-danger {
    color: #f44336;
    color: #ffffff;
    background-color: #f44336;
    border-color: #f44336;
}
