 @import "../../../theme/styles/variables";

body{

    font-size: $bodyfontsize-manual;
  //  line-height: 1.2;// effects dashboard thumbnails yelow color
    color:$bodycolor-manual;
}
    .nav-tabs {
    background-color: #ececec;
    border: 1px solid #ececec;
}

.custom-card{
    border-radius: 5px !important;
    box-shadow: 2px 2px 10px #ddd !important;
    .custom-card-block{
      background-color: #f6f6f6 !important;
   }
   .add-more{
       background:transparent !important;
       border:1px solid dodgerblue !important;
       color: dodgerblue !important;
       padding: 0 10px !important;
       font-size: 12px;    
   }
}
.form-fields{
    font-size: 10px !important;
}
label{
    color: #4B6674 !important;
    font-weight: bold;
}
// input{
//     font-size: 10px !important;
// }
select{
    padding: 7px !important;
    width: 100% !important;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.action-button{
    cursor:pointer;
    font-size: 25px !important;
    background-color: transparent !important;
    border: none !important;
    padding-top: 10px !important;
    color:  rgba(0, 0, 0, 0.75) !important;
}
.delete-button{
    font-size: 15px !important;
    color: grey !important;
    background-color: transparent !important;
    border: none !important;
}
.card-block-group{
    padding-top: 5px !important;
    padding-right: 10px !important;
}
.pr-25{
    padding-right: 25px !important;
}
.scroll {
  // width:150px;
  //  height:200px;
    overflow-x:auto;
}



.breadcrumb-item{
      cursor:pointer;
  
}
.profilebox-profile {
    height: 154px;
    width: 154px;
    border-radius: 15px;
    margin: 15px;
}