<html>

<head>
  <title>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>
    ::-webkit-scrollbar-track {
      background: none;

    }

    ::-webkit-scrollbar {
      width: 0px;
    }

    .rotateimg180 {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  </style>
</head>

<body style="font-size: 12px;">
  <div class="clearfix">
    <div class="col-lg-12 col-xs-12">
      <ol class="breadcrumb" id="breadcrumb">
        <li class="breadcrumb-item active"> Users</li>
      </ol>
    </div>
    <!-- Active,deactive,bann,delete user tab and Add,delete,push,ban Buttons -->
    <div class="col-lg-12 col-xs-12 bottom-15 ">
      <div class="clearfix">
        <ul class="nav nav-tabs top pull-xs-left" id="navTabs" s>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#ActiveUser" (click)="getAll(1)">Active Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#BanUser" (click)="getBanUser(1)">Ban Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#DeactivateUser" (click)="getDeactivateUser(1)">Deactivated
              Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ReportedUser" (click)="getReportedUser(1)">Reported Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#BlockedUser" (click)="getBlockUser(1)">Blocked Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#DeletedUser" (click)="getDeleteUser(1)">Deleted Users</a>
          </li>
        </ul>
      </div>
      <!-- Add,delete,push,ban Buttons -->
      <div class="tab-content top" id="tab-contenttop">
        <div class="tab-pane active" id="ActiveUser">
          <div class="modal-body" style="height:900px;">

            <div class="row ">
              <!-- <div id="Activeuser">
                <button type="button" class="btn btn-info btn-md" id="myActiveBtn" (click)="showNotificationModal()">Send
                  Push
                </button>
                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#addUser" (click)="getPreferenceData()"
                  id="myActiveBtn">Add User</button>
                <button type="button" class="btn btn-info btn-md" title="Delete User" (click)="Deleteuser()" id="myActiveBtn">DeleteUser</button>
                <button type="button" class="btn btn-info btn-md" title="Banned User" id="myActiveBtn" (click)="Bannduser()"> BanUser</button>
                <button type="button" class="btn btn-info btn-md" title="pro User" id="myActiveBtn" (click)="gotoProUser()"> ProPlan</button>
                <button type="button" class="btn btn-info btn-md" title="Add Many User" id="myActiveBtn" data-toggle="modal" data-target="#addManyUser">Add
                  Many
                </button>
              </div> -->
              <div class="col-md-5 zeroPadding pull-right" style="margin-bottom: 10px;">
                <div class="dropdown actionTitle ">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                  </button>
                  <ul class="dropdown-menu">
                    <li class="titleList" (click)="showNotificationModal()">
                      Send Push
                    </li>
                    <li class="titleList" data-toggle="modal" data-target="#addUser" (click)="getPreferenceData()">
                      Add User
                    </li>
                    <li class="titleList" (click)="Deleteuser();">
                      DeleteUser
                    </li>
                    <li class="titleList" (click)="Bannduser();">
                      BanUser
                    </li>
                    <li class="titleList" (click)="gotoProUser();">
                      ProPlan
                    </li>
                    <!-- <li class="titleList" data-toggle="modal" data-target="#addManyUser">
                            Add Many
                        </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <!-- date search -->
            <form name="myForm" id="myForm">
              <div class="row ">
                <div class="well  well-lg" id="well-class">
                  <div class="form-group  col-md-6">
                    <label>Search</label>
                    <input type="text" class="form-control form-control-sm" #mySearchInput
                      (keyup)="gotoSearchActiveUser(mySearchInput.value)"
                      placeholder="Seach by UserName,Email,contactNumber" />
                  </div>
                  <div class="form-group  col-md-3">
                    <label> From</label>

                    <my-date-picker id="txtUpdateDate1" (dateChanged)="setActiveFromDate($event.formatted)">
                    </my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label> To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setActiveToDate($event.formatted)">
                    </my-date-picker>
                  </div>
                </div>
              </div>
            </form>
            <!-- ActiveUserModal -->
            <div class="clearfix" id="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive " id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>
                              <input type="checkbox" id="hCheck" (change)="selectAllCheckBox()"
                                style="margin-top: 5px;" />
                            </th>
                            <th>NO</th>
                            <th>NAME</th>
                            <th>EMAIL</th>
                            <th>USER TYPE</th>
                            <th>MOBILE NUMBER</th>
                            <th> LAST ONLINE DATE</th>
                            <th>DEVICE LOGS</th>
                            <th>RECENT VISITORS</th>
                            <!-- <th>MY SUPER LIKES</th>
                            <th>SUPER LIKED By</th> -->
                            <th>MY LIKES</th>
                            <th>LIKED BY</th>
                            <!-- <th>MY DIS-LIKES</th>
                            <th>DIS LIKED BY</th> -->
                            <th>FRIENDS</th>
                          </tr>
                        </thead>
                        <td *ngIf="nosearchdata">
                          <div class="card-block widget-body" *ngFor="let user of users">
                            No data available
                          </div>
                        </td>
                        <tbody id="table-spacing">
                          <tr *ngIf="!users">
                            <td colspan="16" style="text-align: center">No Data Found</td>
                          </tr>
                          <tr
                            *ngFor="let user of users | paginate:{itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>
                              <input name="userListCheckbox" type="checkbox" [checked]="user.checked"
                                (click)="gotocheck(user._id)" id="(user._id)" />
                            </td>
                            <td>{{i + 1}}</td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="userDetailsModal(user)"
                                data-toggle="modal" data-target="#userDetails" id="Link-Btn">
                                {{user.firstName}}
                              </button>
                            </td>
                            <td *ngIf="user.email ==  null"> {{"N/A"}}</td>
                            <td *ngIf="user.email != null">{{user.email}}</td>
                            <td *ngIf="user.userType ==  null "> {{"N/A"}}</td>
                            <td *ngIf="user.userType != null">{{user.userType}}</td>
                            <td *ngIf="user.contactNumber ==  null "> {{"N/A"}}</td>
                            <td *ngIf="user.contactNumber != null">{{user.contactNumber}}</td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="userDetailsModal(user)"
                                data-toggle="modal" data-target="#lastLogin" id="Link-Btn">
                                {{user.registeredTimestamp | date: 'dd/MM/yyyy'}}
                              </button>
                            </td>
                            <td>
                              <button type="button" class="btn-cust fa-2x" style="color:  black;    margin-top: -10px;"
                                (click)="deviceLogs(user._id)" title="Device Logs">
                                <i class="ion-android-phone-portrait fa-2x" style="cursor: pointer;"></i>
                              </button>
                            </td>
                            <td *ngIf="user.recentVisitors == 0 "> {{user.recentVisitors}}</td>
                            <td *ngIf="user.recentVisitors != 0">
                              <button type="button" class="btn-cust fa-2x" (click)="recentVisitors(user._id)"
                                title="Recent Visitors" id="Link-Btn">
                                {{user.recentVisitors}} </button>
                            </td>
                            <!-- <td *ngIf="(user.mySupperLike) === 0"> {{user.mySupperLike}}</td>
                            <td *ngIf="user.mySupperLike != 0">
                              <button type="button" class="btn-cust fa-2x" (click)="SuperLikes(user._id)" title="Super Likes"
                                id="Link-Btn">
                                {{ user.mySupperLike }}</button>
                            </td> -->
                            <!-- <td *ngIf="user.supperLikeBy == 0"> {{user.supperLikeBy}}</td>
                            <td *ngIf="user.supperLikeBy != 0">
                              <button type="button" class="btn-cust fa-2x" (click)="mySuperLikes(user._id)" title="My SuperLikes"
                                id="Link-Btn">
                                {{user.supperLikeBy}}</button>
                            </td> -->
                            <td *ngIf="user.myLikes == 0"> {{user.myLikes}}</td>
                            <td *ngIf="user.myLikes != 0">
                              <button type="button" class="btn-cust fa-2x" (click)="mylikes(user._id)" title="My Likes"
                                id="Link-Btn">
                                {{user.myLikes}}</button>
                            </td>
                            <td *ngIf="user.likedBy == 0"> {{user.likedBy}}</td>
                            <td *ngIf="user.likedBy != 0">
                              <button type="button" class="btn-cust fa-2x" (click)="likes(user._id)" title="Likes By"
                                id="Link-Btn">
                                {{user.likedBy}}</button>
                            </td>
                            <!-- <td *ngIf="user.myunlikes == 0"> {{user.myunlikes}}</td>
                            <td *ngIf="user.myunlikes != 0">
                              <button type="button" class="btn-cust fa-2x" (click)="disLikes(user._id)" title="My Dis-Likes"
                                id="Link-Btn">
                                {{user.myunlikes}}</button>
                            </td> -->
                            <!-- <td *ngIf="user.disLikedUSers == 0">{{user.disLikedUSers}}</td>
                            <td *ngIf="user.disLikedUSers != 0">
                              <button type="button" class="btn-cust fa-2x" (click)="mydisLikes(user._id)" title="Dis-Likes By"
                                id="Link-Btn">
                                {{user.disLikedUSers}}</button>
                            </td> -->
                            <td *ngIf="user.matchedWith == 0"> {{user.matchedWith}}</td>
                            <td *ngIf="user.matchedWith != 0">
                              <button type="button" class="btn-cust fa-2x" (click)="matchesUser(user._id)"
                                title="Matches" id="Link-Btn">
                                {{user.matchedWith}}</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <pagination-controls (pageChange)="getAll($event)" class="cursor-pointer float-right">
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BanUserModal -->
        <div class="tab-pane" id="BanUser">
          <div class="modal-body" style="height:1000px;">

            <form name="banUser" id="myForm">
              <div class="row ">
                <div class="well well-lg" id="well-class">

                  <div class="form-group  col-md-6">
                    <label>Search</label>
                    <input type="text" class="form-control form-control-sm" #myBanInput
                      (keyup)="gotoSearchBanUser(myBanInput.value)" placeholder="Seach by UserName,Email,contactNumber"
                      formControlName="search" />

                  </div>
                  <div class="form-group  col-md-3">
                    <label> From</label>
                    <my-date-picker id="txtUpdateDate1" (dateChanged)="setBanFromDate($event.formatted)">
                    </my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label> To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setBanToDate($event.formatted)"></my-date-picker>
                  </div>
                </div>
              </div>
            </form>
            <div class="clearfix" id="clearfix">
              <div class="row">


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>NO</th>
                            <th> NAME </th>
                            <th>PHONE NO</th>
                            <th>EMAIL</th>
                            <th>USER TYPE</th>
                            <th>BANNED ON</th>
                            <th>ACTION</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="totalusers == ''">
                            <td colspan="7">No Data Found</td>
                          </tr>
                          <tr
                            *ngFor="let obj of banUsers  | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>

                              <button type="button" class="btn btn-link" (click)="userDetailsModal(obj)"
                                data-toggle="modal" data-target="#userDetails" style="font-size:12px;">
                                {{obj.firstName}}
                              </button>
                            </td>
                            <td>{{obj.contactNumber}}</td>
                            <td>{{obj.email}}</td>
                            <td>Normal</td>
                            <td>{{obj.banndTimeStamp | date:'dd/MM/yyyy hh:mm:ss a' }}</td>

                            <td>
                              <div class="zoom">
                                <button type="button" class="btn btn-info btn-md" id="Add-Btn" title="Un-Ban User"
                                  (click)="UnBannduser(obj._id)">
                                  <i class="fa fa-unlock fa-2x" style="cursor: pointer;"></i>

                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <pagination-controls (pageChange)="getBanUser($event)" class="cursor-pointer float-right">
                      </pagination-controls>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- DeactivateUserModal -->
        <div class="tab-pane" id="DeactivateUser">
          <div class="modal-body" style="height:900px;">

            <form name="deactivateUser" id="myForm">
              <div class="row ">
                <div class="well well-lg" id="well-class">

                  <div class="form-group  col-md-6">
                    <label>Search</label>
                    <input type="text" class="form-control form-control-sm" #SearchDeactivateInput
                      (keyup)="gotoSearchDeactUser(SearchDeactivateInput.value)"
                      placeholder="Seach by UserName,Email,contactNumber" formControlName="search" />

                  </div>
                  <div class="form-group  col-md-3">
                    <label> From</label>
                    <my-date-picker id="txtUpdateDate1" (dateChanged)="setDeactivateFromDate($event.formatted)">
                    </my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label> To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setDeactivateToDate($event.formatted)">
                    </my-date-picker>
                  </div>
                </div>
              </div>
            </form>
            <div class="clearfix" id="clearfix">
              <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>S.NO</th>
                            <th> NAME </th>
                            <th>PHONE NO</th>
                            <th>EMAIL</th>
                            <th>USER TYPE</th>
                            <th>DEACTIVATE ON</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="totalusers == ''">
                            <td colspan="7">No Data Found</td>
                          </tr>
                          <tr
                            *ngFor="let obj of deactUser |  paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="userDetailsModal(obj)"
                                data-toggle="modal" data-target="#userDetails" id="Link-BtnStyle">
                                {{obj.firstName}}
                              </button>
                            </td>
                            <td>{{obj.email}}</td>
                            <td>{{obj.contactNumber}}</td>
                            <td>Normal</td>
                            <td>{{obj.isDeactiveTimestamp | date:'dd/MM/yyyy hh:mm:ss a' }}</td>


                          </tr>
                        </tbody>
                      </table>

                      <pagination-controls (pageChange)="getDeactivateUser($event)" class="cursor-pointer float-right">
                      </pagination-controls>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ReportedUserModal -->
        <div class="tab-pane" id="ReportedUser">
          <div class="modal-body" style="height:900px;">

            <form name="reportUser" id="myForm">
              <div class="row ">
                <div class="well well-lg" id="well-class">

                  <div class="form-group  col-md-6">
                    <label>Reported Date</label>
                    <input type="text" class="form-control form-control-sm" #myReportInput
                      (keyup)="gotoSearchReportedUser(myReportInput.value)"
                      placeholder="Seach by UserName,Email,contactNumber" />

                  </div>
                  <div class="form-group  col-md-3">
                    <label> From</label>
                    <my-date-picker id="txtUpdateDate1" (dateChanged)="setReportedFromDate($event.formatted)">
                    </my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label> To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setReportedToDate($event.formatted)">
                    </my-date-picker>
                  </div>
                </div>
              </div>
            </form>
            <div class="clearfix" id="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th> REPORTED USER </th>
                            <th>NO. OF REPORTS</th>
                            <th>LAST REPORTED DATE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!userLog">
                            <td colspan="7">No Data Found</td>
                          </tr>
                          <tr
                            *ngFor="let obj of userLog |  paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="userDetailsReportModal(obj)"
                                data-toggle="modal" data-target="#ReportedUserDetails" id="Link-BtnStyle">
                                {{obj.reportedUser}}
                              </button>
                            </td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="showDetails(obj._id)"
                                id="Link-BtnStyle">
                                {{obj.NoOfReports}}
                              </button>
                            </td>
                            <td>{{obj.creation | date:'dd/MM/yyyy hh:mm:ss a' }}</td>

                          </tr>
                        </tbody>
                      </table>

                      <pagination-controls (pageChange)="getReportedUser($event)" class="cursor-pointer float-right">
                      </pagination-controls>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BlockedUserModal -->
        <div class="tab-pane" id="BlockedUser">
          <div class="modal-body" style="height:900px;">

            <form name="blockUser" id="myForm">
              <div class="row ">
                <div class="well well-lg" id="well-class">

                  <div class="form-group  col-md-6">
                    <label>Reported Date</label>
                    <input type="text" class="form-control form-control-sm" #myBlockInput
                      (keyup)="gotoSearchBlockUser(myBlockInput.value)"
                      placeholder="Seach by UserName,Email,contactNumber" />

                  </div>
                  <div class="form-group  col-md-3">
                    <label> From</label>
                    <my-date-picker id="txtUpdateDate1" (dateChanged)="setBlockedFromDate($event.formatted)">
                    </my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label> To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setBlockedToDate($event.formatted)">
                    </my-date-picker>
                  </div>
                </div>
              </div>
            </form>
            <div class="clearfix" id="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th> BlOCK USER </th>
                            <th>NO. OF BlOCK USER</th>
                            <th>BLOCKED ON</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!blockData">
                            <td colspan="7">No Data Found</td>
                          </tr>
                          <tr
                            *ngFor="let obj of blockData | paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="userDetailsBlockedModal(obj)"
                                data-toggle="modal" data-target="#BlockedUserDetails" id="Link-BtnStyle">
                                {{obj.blockedUser}}
                              </button>
                            </td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="showBlockUserDetails(obj._id)"
                                id="Link-BtnStyle">
                                {{obj.NoOfBlocked}}
                              </button>
                            </td>
                            <td>{{obj.timestamp | date:'dd/MM/yyyy hh:mm:ss a' }}</td>

                          </tr>
                        </tbody>
                      </table>

                      <pagination-controls (pageChange)="getBlockUser($event)" class="cursor-pointer float-right">
                      </pagination-controls>

                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- DeletedUserModal -->
        <div class="tab-pane" id="DeletedUser">
          <div class="modal-body" style="height:900px;">

            <form name="deleteUser" id="myForm">
              <div class="row ">
                <div class="well well-lg" id="well-class">

                  <div class="form-group  col-md-6">
                    <label>Reported Date</label>
                    <input type="text" class="form-control form-control-sm" #myReportedInput
                      (keyup)="gotoSearchDeleteUser(myReportedInput.value)"
                      placeholder="Seach by UserName,Email,contactNumber" />

                  </div>
                  <div class="form-group  col-md-3">
                    <label> From</label>
                    <my-date-picker id="txtUpdateDate1" (dateChanged)="setDeletedFromDate($event.formatted)">
                    </my-date-picker>
                  </div>
                  <div class="form-group  col-md-3">
                    <label> To </label>
                    <my-date-picker id="txtUpdateDate2" (dateChanged)="setDeletedToDate($event.formatted)">
                    </my-date-picker>
                  </div>
                </div>
              </div>
            </form>
            <div class="clearfix" id="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>S.No</th>
                            <th> DELETED USER </th>
                            <th>EMAIL</th>
                            <th>DELETE USER DATE</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!deleteData">
                            <td colspan="7">No Data Found</td>
                          </tr>
                          <tr
                            *ngFor="let obj of deleteData |paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td>
                              <button type="button" class="btn btn-link" (click)="userDetailsModal(obj)"
                                data-toggle="modal" data-target="#userDetails" id="Link-BtnStyle">
                                {{obj.firstName}}
                              </button>
                            </td>
                            <td>

                              {{obj.email}}

                            </td>
                            <td>{{obj.deleteTimeStamp | date:'dd/MM/yyyy hh:mm:ss a' }}</td>

                          </tr>
                        </tbody>
                      </table>

                      <pagination-controls (pageChange)="getDeleteUser($event)" class="cursor-pointer float-right">
                      </pagination-controls>

                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- lastLoginModal -->
    <div id="lastLogin" class="modal fade" role="dialog">
      <div class=" ">
        <div class="col-xl-8 col-md-12 col-xs-12 offset-xl-2 offset-md-2 offset-xs-1">
          <div class="card" style="width: 60%;
          padding: 20px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Login Details</h5>
            </div>
            <div class="table-responsive" id="table-responsive">
              <table class="table table-bordered hover">
                <thead>
                  <tr style="padding-top:20px;">

                    <th>Last Online Date</th>
                    <th>Last Online Time</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{userDetails.LastLogin | date: 'dd/MM/yyyy'}}</td>
                    <td>{{userDetails.LastLogin | date: 'hh:mm:ss a'}}</td>
                    <td>{{userDetails.RegisteredFrom}}</td>


                  </tr>

                </tbody>
              </table>
            </div>
            <div class="modal-footer" style="border-top:transparent;">
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- UserDetailsModal -->
    <div id="userDetails" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height: 530px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> User Details</h4>
          </div>
          <form [formGroup]="userDetailForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left" id="border-style">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Profile_Details">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Photo_Gallery">Photo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#video_Gallery">Video</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Preferences">Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="Profile_Details">
                  <div class="modal-body ">
                    <div class="col-md-3 col-lg-3" style="padding-left: 0px;">
                      <img src="{{userDetails.ProfilePhoto}}" style="height: 100px;width: 100px;">
                    </div>
                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody id="userDetails-Style">
                          <tr>
                            <td>Name </td>
                            <td>{{userDetails.Name}}</td>
                          </tr>
                          <tr>
                            <td> Phone No </td>
                            <td>{{userDetails.PhoneNo}}</td>
                          </tr>
                          <tr>
                            <td>Email </td>
                            <td>{{userDetails.Email}}</td>
                          </tr>
                          <tr>
                            <td>Registration date and time</td>
                            <td>{{userDetails.RegistrationDate | date: 'dd/MM/yyyy hh:mm:ss a' }}</td>
                          </tr>
                          <tr>
                            <td>Date Of Birth </td>
                            <td>{{userDetails.DateOfBirth | date: 'dd/MM/yyyy'}}</td>
                          </tr>
                          <tr>
                            <td>Age</td>
                            <td>{{userDetails.Age}} </td>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td>{{userDetails.Gender}}</td>
                          </tr>
                          <tr>
                            <td>Height</td>
                            <td>{{userDetails.Height}}</td>
                          </tr>
                          <tr>
                            <td>About Me</td>
                            <td>{{userDetails.about}}</td>
                          </tr>
                          <tr>
                            <td>Registered From ( City / Country )</td>
                            <td>{{userDetails.RegisteredFrom}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Photo_Gallery model -->
                <div class="tab-pane" id="Photo_Gallery">
                  <div class="modal-body col-md-12" style="margin-top: -15px;
                    margin-left: -15px; width: 106%;">
                    <div class="col-md-4" *ngFor="let userImg of userDetails.OtherPhotos let i = index">
                      <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%"
                        alt="Cinque Terre">
                    </div>
                  </div>
                </div>
                <!-- video_Gallery model -->
                <div class="tab-pane" id="video_Gallery">
                  <div class="modal-body col-md-12" style="margin-top: -15px;
                    margin-left: -15px; width: 106%;">
                    <div class="col-md-4 testVideo">
                      <div *ngIf="userDetails.ProfileVideo == 0">
                        <img src="assets/hqdefault.jpg" width="500px" height="400px"
                          title="No Profile Video Of this User" />
                      </div>
                      <div *ngIf="userDetails.ProfileVideo != 0 ">
                        <video class="videoAutoPlay" width="500px" height="400px" controls>
                          <source src="" type="video/mp4" allowfullscreen>
                          <source src="" type="video/mov" allowfullscreen>
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- prefrences model -->
                <div class="tab-pane" id="Preferences">
                  <div style="margin:2%">
                    <div *ngFor="let obj of prefData">
                      <div *ngIf="obj.type==3">
                        <label>
                          <h5>{{obj.title}} : </h5>
                        </label><b> {{obj.selectedValue}} </b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- ReportedUserDetailsModal -->
    <div id="ReportedUserDetails" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height: 530px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> User Details</h4>
          </div>
          <form [formGroup]="userDetailForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left" id="border-style">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#ProfileDetails">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Photo_Galleryre_Report">Photo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#video_Gallery_Report">Video</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Preferencesdata_Report">Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="ProfileDetails">
                  <div class="modal-body ">
                    <div class="col-md-3 col-lg-3">
                      <img src="{{ReporteduserDetails.ProfilePhoto}}" style="height: 100px;width: 100px;">
                    </div>

                    <div class="col-md-9 col-lg-9">
                      <table class="table table-user-information">
                        <tbody id="userDetails-Style">
                          <tr>
                            <td>Name </td>
                            <td>{{ReporteduserDetails.Name}}</td>
                          </tr>
                          <tr>
                            <td> Phone No </td>
                            <td>{{ReporteduserDetails.PhoneNo}}</td>
                          </tr>
                          <tr>
                            <td>Email </td>
                            <td>{{ReporteduserDetails.Email}}</td>
                          </tr>
                          <tr>
                            <td>Registration Date </td>
                            <td>{{ReporteduserDetails.RegistrationDate | date: "short" }}</td>
                          </tr>
                          <tr>
                            <td>Date Of Birth </td>
                            <td>{{ReporteduserDetails.DateOfBirth | date: "short"}}</td>
                          </tr>
                          <tr>
                            <td>Age</td>
                            <td>{{ReporteduserDetails.Age}} </td>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td>{{ReporteduserDetails.Gender}}</td>
                          </tr>
                          <tr>
                            <td>Height</td>
                            <td>{{ReporteduserDetails.Height}}</td>
                          </tr>
                          <tr>
                            <td>About Me</td>
                            <td>{{userDetails.about}}</td>
                          </tr>
                          <tr>
                            <td>Registered From ( City / Country )</td>
                            <td>{{ReporteduserDetails.RegisteredFrom}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- Photo_Gallery model -->
                <div class="tab-pane" id="Photo_Galleryre_Report">
                  <div class="modal-body col-md-12" style="margin-top: -15px; margin-left: -15px; width: 106%;">
                    <div class="col-md-4" *ngFor="let userImg of ReporteduserDetails.OtherPhotos let i = index">
                      <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%"
                        alt="Cinque Terre">
                    </div>
                  </div>
                </div>
                <!-- video_Gallery model -->
                <div class="tab-pane" id="video_Gallery_Report">
                  <div class="modal-body col-md-12" style="margin-top: -15px; margin-left: -15px; width: 106%;">
                    <div class="col-md-4 testVideo">
                      <div *ngIf="ReporteduserDetails.ProfileVideo == 0">
                        <img src="assets/hqdefault.jpg" width="500px" height="400px"
                          title="No Profile Video Of this User" />
                      </div>
                      <div *ngIf="ReporteduserDetails.ProfileVideo != 0 ">
                        <video class="videoAutoPlay" width="500px" height="400px" controls>
                          <source src="" type="video/mp4" allowfullscreen>
                          <source src="" type="video/mov" allowfullscreen>
                        </video>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- prefrences model -->
                <div class="tab-pane" id="Preferencesdata_Report">
                  <div style="margin:2%">
                    <div *ngFor="let obj of prefData">
                      <div *ngIf="obj.type==3">
                        <label>
                          <h5>{{obj.title}} : </h5>
                        </label><b> {{obj.selectedValue}} </b>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!-- BlockedUserDetailsModal -->
    <div id="BlockedUserDetails" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> User Details</h4>
          </div>
          <form [formGroup]="userDetailForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left" id="border-style">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#BlockProfile_Details">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Photo_Gallery_Block">Photo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#video_Gallery_Block">Video</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Preferences_Block">Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="BlockProfile_Details">
                  <div class="modal-body ">
                    <div class="col-md-3 col-lg-3">



                      <img src="{{BlockedUserDetails.ProfilePhoto}}" style="height: 100px;width: 100px; ">
                    </div>

                    <div class=" col-md-9 col-lg-9 ">
                      <table class="table table-user-information">
                        <tbody id="userDetails-Style">
                          <tr>
                            <td>Name :</td>
                            <td>{{BlockedUserDetails.Name}}</td>
                          </tr>
                          <tr>
                            <td> Phone No :</td>
                            <td>{{BlockedUserDetails.PhoneNo}}</td>
                          </tr>
                          <tr>
                            <td>Email : </td>
                            <td>{{BlockedUserDetails.Email}}</td>
                          </tr>

                          <tr>
                            <td>Registration Date :</td>
                            <td>{{BlockedUserDetails.RegistrationDate | date: "short" }}</td>
                          </tr>
                          <tr>
                            <td>Date Of Birth :</td>
                            <td>{{BlockedUserDetails.DateOfBirth | date: "short"}}</td>
                          </tr>
                          <tr>
                            <td>Age</td>
                            <td>{{BlockedUserDetails.Age}} </td>
                          </tr>
                          <tr>
                            <td>Gender</td>
                            <td>{{BlockedUserDetails.Gender}}</td>
                          </tr>
                          <tr>
                            <td>Height</td>
                            <td>{{BlockedUserDetails.Height}}</td>
                          </tr>
                          <tr>
                            <td>About Me</td>
                            <td>{{userDetails.about}}</td>
                          </tr>
                          <tr>
                            <td>Registered From ( City / Country )</td>
                            <td>{{BlockedUserDetails.RegisteredFrom}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>


                <!-- Photo_Gallery model -->
                <div class="tab-pane" id="Photo_Gallery_Block">
                  <div class="modal-body col-md-12" style="margin-top: -15px;
    margin-left: -15px; width: 106%;">
                    <div class="col-md-4" *ngFor="let userImg of BlockedUserDetails.OtherPhotos let i = index">
                      <img src="{{userImg}}" class="img-rounded" style="margin:5px" width="100%" height="100%"
                        alt="Cinque Terre">
                    </div>
                  </div>
                </div>
                <!-- video_Gallery model -->
                <div class="tab-pane" id="video_Gallery_Block">
                  <div class="modal-body col-md-12" style="margin-top: -15px;
    margin-left: -15px; width: 106%;">
                    <div class="col-md-4 testVideo">
                      <div *ngIf="BlockedUserDetails.ProfileVideo == 0">
                        <img src="assets/hqdefault.jpg" width="500px" height="400px"
                          title="No Profile Video Of this User" />
                      </div>
                      <div *ngIf="BlockedUserDetails.ProfileVideo != 0 ">
                        <video class="videoAutoPlay" width="500px" height="400px" controls>
                          <source src="" type="video/mp4" allowfullscreen>
                          <source src="" type="video/mov" allowfullscreen>
                        </video>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- prefrences model -->
                <div class="tab-pane" id="Preferences_Block">
                  <div style="margin:2%">
                    <div *ngFor="let obj of prefData">
                      <div *ngIf="obj.type==3">
                        <label>
                          <h5>{{obj.title}} : </h5>
                        </label><b> {{obj.selectedValue}} </b>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- editUserModal -->
    <div id="editUser" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Edit User</h5>
          </div>
          <form [formGroup]="editUserForm">
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Profile_Details_edit">Profile Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Photo_Gallery_edit">Photo Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Preferences_edit">Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="Profile_Details_edit">
                  <div class=" col-md-3 col-lg-3 ">
                    <br>
                    <img src="https://s3.amazonaws.com/datumv3/Sync1To1Image20180104114737AM.png" width="200"
                      height="200">
                  </div>
                  <div class=" col-md-1 col-lg-1 ">

                  </div>
                  <div class=" col-md-8 col-lg-8 ">
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <td>Name:</td>
                          <td>Dipen Ahir</td>
                        </tr>
                        <tr>
                          <td> Phone No:</td>
                          <td>+919672829202</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>dipen@mobifyi.com</td>
                        </tr>

                        <tr>
                          <td>Registration Date</td>
                          <td>Friday, January 5, 2018 5:39:37 AM</td>
                        </tr>
                        <tr>
                          <td>Date Of Birth</td>
                          <td>17/08/1992 </td>

                        </tr>
                        <tr>
                          <td>Age</td>
                          <td>25 </td>
                        </tr>
                        <tr>
                          <td>Gender</td>
                          <td>Male</td>
                        </tr>
                        <tr>
                          <td>Height</td>
                          <td>166 cm , 5'6" feet</td>
                        </tr>
                        <tr>
                          <td> Profile Video</td>
                          <td>
                            <a href="https://s3.amazonaws.com/sync1to1/SYNC1TO1Video20180104114749AM.mp4">Click to play
                              the
                              video
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>Registered From ( City / Country )</td>
                          <td>Bengaluru / india</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="Photo_Gallery_edit">
                  <div class="modal-body col-md-12">
                    <img src="https://s3.amazonaws.com/datumv3/Sync1To1Image20180104114737AM.png" width="200"
                      height="200">
                    <img src="https://s3.amazonaws.com/datumv3/Sync1To1Image20171225091921PM.png" width="200"
                      height="200">
                    <img src="https://s3.amazonaws.com/datumv3/Sync1To1Image20171225092353PM.png" width="200"
                      height="200">
                    <img src="https://s3.amazonaws.com/datumv3/Sync1To1Image20171226124059PM.png" width="200"
                      height="200">
                    <img src="https://s3.amazonaws.com/datumv3/Sync1To1Image20171226053547PM.png" width="200"
                      height="200">
                    <img src="https://s3.amazonaws.com/datumv3/Sync1To1Image20171226060107PM.png" width="200"
                      height="200">
                  </div>
                </div>
                <div class="tab-pane" id="Preferences_edit">
                  <!-- <div style="margin:2%" formArrayName="values"> -->
                  <div *ngFor="let obj of prefranceValues; let i=index;" class="panel panel-default">
                    <label>
                      <h5>{{obj.title}} : </h5>
                    </label>
                    <div *ngIf="obj.type==1">
                      Selected Value :
                      <b> {{obj.selectedValue}} </b>
                      <br> Options Value :
                      <b>{{obj.optionsValue}}</b>
                      <br>
                    </div>
                    <div *ngIf="obj.type==3">
                      Selected Min :
                      <b>{{obj.SelectedMin}} ,</b> Selected Max :
                      <b>{{obj.SelectedMax}} </b>
                      <br> Option Min :
                      <b>{{obj.OptionsMin}} ,</b> Option Max :
                      <b>{{obj.OptionsMax}} </b>
                      <br>
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
                <div class="form-group row">
                </div>
              </div>
              <div class="modal-footer pull-left">
                <button class="btn btn-default btn-sm" data-dismiss="modal">close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div *ngIf="detailsBoxPush" id="detailsBoxPush" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <h4>Push Details</h4>
            <!--<label>File<sup>*</sup></label>-->

            <form [formGroup]="notificationM" novalidate>
              <div class="form-group">
                <label>Type of Push</label>
                <select formControlName="type" class="form-control-sm custom-select">
                  <option value="Without Push">Without Push</option>
                  <option value="With Push">With Push</option>
                </select>
                <span class="help-block text-danger"
                  *ngIf="hasError && notificationM.get('type').hasError('required')">Field
                  is required</span>
              </div>
              <div class="form-group">
                <label>Push Title</label>
                <input type="text" class="form-control form-control-sm" placeholder="Push Title"
                  formControlName="line2">
                <span class="help-block text-danger"
                  *ngIf="hasError && notificationM.get('line2').hasError('required')">Field
                  is required</span>
                <span class="help-block text-danger" *ngIf="notificationM.get('line2').hasError('checkLength')">Make
                  sure
                  the input is not more than 45 characters long</span>
              </div>
              <div class="form-group">
                <label>Message Body</label>
                <textarea formControlName="message" cols="30" rows="10" class="form-control"></textarea>
                <span class="help-block text-danger"
                  *ngIf="hasError && notificationM.get('message').hasError('required')">Field
                  is required</span>
                <span class="help-block text-danger" *ngIf="notificationM.get('message').hasError('checkLengthh')">Make
                  sure
                  the input is not more than 100 characters long</span>
              </div>
              <div class="form-group">
                <label>Url for the Button (Know More)</label>
                <input type="text" class="form-control form-control-sm" placeholder="Url" formControlName="url">
                <span class="help-block text-danger" *ngIf="notificationM.get('url').hasError('invalidUrl')">Invalid
                  url
                  address
                </span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="saveFormPush(notificationM)">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closFormPush()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- AddUserModal -->
    <div id="addUser" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add User</h4>
          </div>
          <form [formGroup]="myForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">
              <div class="clearfix">
                <ul class="nav nav-tabs top pull-xs-left">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#taa">Profile</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tbbcc">My Preferences</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tbbdd">Search Preferences</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content top">
                <div class="tab-pane active" id="taa">
                  <div class="modal-body col-md-12">
                    <div class="col-12 bottom-0" style="    margin-top: -15px;">
                      <!-- user image upload module -->
                      <div class="col-8 offset-2" style="margin-bottom: 3%;">
                        <div id="upImg" style="color: red;text-align: center;">Please Select Small Size Image</div>
                        <div class="form-group col-xs-12" style="margin-bottom: 0px;">
                          <div class="col-xs-2"></div>
                          <div class="col-xs-8 offset-2">
                            <div *ngIf="Amsg" class="alert alert-danger">
                              Please Select Image
                            </div>
                            <div *ngIf="Aimage" style="color: #9900ffbf;text-align: center;">
                              image Uploaded Successfuly
                            </div>

                            <div class="form-group col-xs-12">
                              <div class="image-wrapper" style="text-align: center;">
                                <i *ngIf="Aimage" class="fa fa-times delete-img" (click)="AremoveImage()"></i>
                                <img [attr.src]="Aimage" *ngIf="Aimage" width="100%" style="height: 65px;width: 29%;">
                                <img src="assets/img/app/noimage.png" *ngIf="!Aimage" width="100%"
                                  style="height: 65px;width: 29%;">
                              </div>
                              <input type="file" (change)="AfileChange(input)" #input class="img-upload-btn" />

                              <button class="btn btn-main btn-block" type="button">
                                <span *ngIf="!Aimage">
                                  <i class="fa fa-upload"></i> Select Image... </span>
                                <span *ngIf="Aimage">
                                  <i class="fa fa-refresh"></i> Change Image... </span>
                              </button>
                            </div>
                          </div>
                          <div class="col-xs-2"></div>
                        </div>
                        <div style="text-align: center;">
                          <mark style="background-color: yellow;">Please select small size image and Dimension is
                            maximum 600*600</mark>
                        </div>
                      </div>
                    </div>
                    <!-- ************************************* -->
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                        <div class="form-group col-md-6">
                          <label>First Name
                            <sup>*</sup>
                          </label>


                          <input type="text" class="form-control form-control-sm" placeholder="First Name"
                            formControlName="firstName">
                          <span
                            *ngIf="myForm.controls['firstName']?.errors && (myForm.controls['firstName'].dirty || myForm.controls['firstName'].touched)"
                            class="help-block text-danger">
                            <span [hidden]="!myForm.controls['firstName'].errors.required">
                              First Name is Required
                            </span>
                          </span>
                        </div>
                        <div class="form-group col-md-6">

                          <div class="form-group">
                            <label>Date Of Birth
                              <sup>*</sup>
                            </label>
                            <br>

                            <my-date-picker (dateChanged)="this.myForm.controls['dob'].setValue($event.formatted)"
                              placeholder="Enter Date Of Birth" [selDate]="myForm.controls.dob.value"
                              formControlName="myDate" id="myDate"></my-date-picker>
                            <span
                              *ngIf="myForm.controls['dob']?.errors && (myForm.controls['dob'].dirty || myForm.controls['dob'].touched)"
                              class="help-block text-danger">
                              <span [hidden]="!myForm.controls['dob'].errors.required">
                                Date Of Birth is Required
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                      <div class="form-group">
                        <label>Email
                          <sup>*</sup>
                        </label>
                        <input type="text" class="form-control form-control-sm" placeholder="Email" formControlName="email">
                        <span *ngIf="myForm.controls['email']?.errors && (myForm.controls['email'].dirty || myForm.controls['email'].touched)" class="help-block text-danger">
                          <span [hidden]="!myForm.controls['email'].errors.required">
                            Email is Required
                          </span>
                        </span>
                      </div>
                    </div> -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                      <div class="form-group">
                        <label>Email
                          <sup>*</sup>
                        </label>
                        <input type="text" class="form-control form-control-sm" placeholder="Email"
                          formControlName="email">
                        <span
                          *ngIf="myForm.controls['email']?.errors && (myForm.controls['email'].dirty || myForm.controls['email'].touched)"
                          class="help-block text-danger">
                          <span [hidden]="!myForm.controls['email'].errors.required">
                            Email is Required
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                      <div class="form-group ">
                        <label>Contact Number
                          <sup>*</sup>
                        </label>
                        <br>


                        <input type="text" class="form-control-sm" placeholder="Enter ex. 91"
                          formControlName="countryCode" style="width:20%; border-radius:none;">
                        <span
                          *ngIf="myForm.controls['countryCode']?.errors && (myForm.controls['countryCode'].dirty || myForm.controls['countryCode'].touched)"
                          class="help-block text-danger">
                          <span [hidden]="!myForm.controls['countryCode'].errors.required">
                            Country Code is Required
                          </span>
                        </span>
                        <input type="text" class="form-control-sm" placeholder="Contact Number"
                          formControlName="contactNumber" style="width:79%;">
                        <span
                          *ngIf="myForm.controls['contactNumber']?.errors && (myForm.controls['contactNumber'].dirty || myForm.controls['contactNumber'].touched)"
                          class="help-block text-danger">
                          <span [hidden]="!myForm.controls['contactNumber'].errors.required">
                            Contact Number is Required
                          </span>
                        </span>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                        <div class="form-group col-md-6">
                          <label>Gender
                            <sup>*</sup>
                          </label>

                          <select formControlName="gender" class="form-control custom-select"
                            style="text-align:center; height: 41%; border-radius: 22px;">
                            <option value="" selected disabled hidden>Choose Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female" selected="selected">Female</option>
                            <option value="Others">Others</option>
                          </select>
                          <span
                            *ngIf="myForm.controls['gender']?.errors && (myForm.controls['gender'].dirty || myForm.controls['gender'].touched)"
                            class="help-block text-danger">
                            <span [hidden]="!myForm.controls['gender'].errors.required">
                              Gender is Required
                            </span>
                          </span>
                        </div>




                        <div class="form-group col-md-6">
                          <label>Height
                            <sup>*</sup>
                          </label>


                          <!-- <input type="number" min="152" max="213" class="form-control form-control-sm" placeholder="Height in Centimiter" formControlName="height"
                            style="padding:10px;"> -->

                          <select formControlName="height" style="width: 99%; height: 33px ;border-radius: 22px;">
                            <option value="" selected disabled hidden>Choose Height</option>
                            <option *ngFor="let option of height" [value]="option">{{option}}</option>
                          </select>
                          <span
                            *ngIf="myForm.controls['height']?.errors && (myForm.controls['height'].dirty || myForm.controls['height'].touched)"
                            class="help-block text-danger">
                            <span [hidden]="!myForm.controls['height'].errors.required">
                              Height is Required
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                        <div class="form-group col-md-6">

                          <label>City
                            <sup>*</sup>
                          </label>
                          <input type="text" class="form-control-sm" placeholder="Select City From Map"
                            formControlName="city" disabled style="    cursor: not-allowed;"
                            title="Select City From Map">
                          <span
                            *ngIf="myForm.controls['city']?.errors && (myForm.controls['city'].dirty || myForm.controls['city'].touched)"
                            class="help-block text-danger">
                            <span [hidden]="!myForm.controls['city'].errors.required">
                              City is Required
                            </span>
                          </span>
                        </div>



                        <div class="form-group col-md-6">
                          <label>Country
                            <sup>*</sup>
                          </label>
                          <input type="text" class="form-control-sm" placeholder="Select Country From Map"
                            formControlName="country" disabled style="    cursor: not-allowed;"
                            title="Select Country From Map">
                          <span
                            *ngIf="myForm.controls['country']?.errors && (myForm.controls['country'].dirty || myForm.controls['country'].touched)"
                            class="help-block text-danger">
                            <span [hidden]="!myForm.controls['country'].errors.required">
                              Country is Required
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                        <div class="form-group col-md-6">
                          <label>Latitude
                            <sup>*</sup>
                          </label>


                          <input type="text" class="form-control" formControlName="lat"
                            placeholder="Select City, Country On Map" disabled style="background-color: white;"
                            title="Select City, Country On Map">
                          <span
                            *ngIf="myForm.controls['lat']?.errors && (myForm.controls['lat'].dirty || myForm.controls['lat'].touched)"
                            class="help-block text-danger">
                            <span [hidden]="!myForm.controls['lat'].errors.required">
                              Latitude is Required
                            </span>
                          </span>
                        </div>
                        <div class="form-group col-md-6">
                          <label>Longitude
                            <sup>*</sup>
                          </label>
                          <input type="text" class="form-control" formControlName="lng"
                            placeholder="Select City, Country On Map" disabled style="background-color: white;"
                            title="Select City, Country On Map">
                          <span
                            *ngIf="myForm.controls['lng']?.errors && (myForm.controls['lng'].dirty || myForm.controls['lng'].touched)"
                            class="help-block text-danger">
                            <span [hidden]="!myForm.controls['lng'].errors.required">
                              Longitude is Required
                            </span>
                          </span>
                        </div>

                      </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                      <div class="form-group col-md-6">
                        <label for="file">Profile Video</label>

                        <div *ngIf="isUploadBtn">

                          <input type="file" id="btnUpload" value="Upload" (change)="videofileChange($event)"
                            class="upload" />
                          <div *ngIf="fullVideoPath ">
                            <video width="400" height="200" controls>
                              <source src="{{fullVideoPath}}" type="video/mp4">
                              <source src="{{fullVideoPath}}" type="video/ogg">
                            </video>
                          </div>


                        </div>

                      </div>
                      <div class="form-group ">
                        <label></label>
                        <a href="#myMapModal" (click)="mapClick()" class="form-control" data-backdrop="false"
                          data-toggle="modal" style="width: 10%;
                              float: right;
                              padding: 6px;
                              text-align: center;">Map</a>
                      </div>
                    </div>



                    <div class="modal-footer pull-center" style="border-top:none;">
                      <button class="btn btn-primary btn-sm" (click)="onSubmit()" type="submit">Submit</button>
                      <button class="btn btn-default btn-sm" data-dismiss="modal" (click)="resetForm()">Cancel</button>

                    </div>


                  </div>
                </div>

                <div class="tab-pane" id="tbbXX">
                  <div class="modal-body col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                    </div>
                  </div>
                </div>

                <!-- my prefrence model
                Type Of Preferences
                1  For Radio Button,
                2  For Check Box,
                3  For Single Slider,
                4  For Double Slider,
                5  For Simple Text Input,
                6  For Image,
                7  For Video,
                8  For Date
                9  For Map - location
                10 for list - select any one value only -->
                <div class="tab-pane" id="tbbcc">
                  <div class="modal-body col-md-12">

                    <div *ngFor="let data of PreferenceData;let ii=index">
                      <!-- type 1 for Radio -->
                      <div *ngIf="data.type == 1">
                        <div class="col-md-12">

                          <div class="panel-heading" style="padding: 10px 0px;">
                            <div class="form-group col-md-3" style="margin-top: 5px;">
                              <label>{{data.label}} :</label>
                            </div>
                            <div class="form-group col-md-9">
                              <label class="form-check-inline" *ngFor="let o of data.options; let i=index"
                                style="margin-left: 8px;">
                                <input class="form-check-input" type="radio" [name]="'Religious_beliefs' + ii"
                                  [value]="true" (change)="SubmitPreferences(o,data._id,data.type,$event,ii)"> {{o}}
                              </label>
                            </div>
                          </div>

                        </div>

                      </div>
                      <!-- type 2 for check box -->
                      <div *ngIf="data.type == 2">
                        <div class="col-md-12">
                          <div class="panel-heading" style="padding: 10px 0px;">
                            <div class="form-group col-md-3" style="margin-top: 5px;">
                              <label>{{data.label}} :</label>
                            </div>
                            <div class="form-group col-md-9">
                              <label class="form-check-inline" *ngFor="let oa of data.options"
                                style="margin-left: 8px;">
                                <input type="checkbox" name="'Ethnicity'+oa" value="Bike"
                                  (change)="SubmitPreferences(oa,data._id,data.type,$event,ii)">{{oa}}
                              </label>
                            </div>
                          </div>
                        </div>

                      </div>
                      <!-- type 3 for Single Slider -->
                      <div *ngIf="data.type == 3">
                        <div class="col-md-12">
                          <div class="panel-heading" style="padding: 10px 0px;">
                            <div class="form-group col-md-3" style="margin-top: 5px;">
                              <label>{{data.label}} :</label>
                            </div>
                            <div class="form-group col-md-9">
                              <label class="form-check-inline" *ngFor="let ob of data.options">
                                <!-- <nouislider [min]="0" [max]="20" [step]="0.5" [formControl]="form.controls.single"></nouislider> -->

                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- type 4 for Double Slider -->
                      <div *ngIf="data.type == 4">
                        <div class="col-md-12">
                          <div class="panel-heading" style="padding: 10px 0px;">
                            <div class="form-group col-md-3" style="margin-top: 5px;">
                              <label>{{data.label}} :</label>
                            </div>
                            <div class="form-group col-md-9">
                              <label class="form-check-inline" *ngFor="let oc of data.options">
                                <!-- <nouislider [min]="0" [max]="20" [step]="0.5" [formControl]="form.controls.single"></nouislider> -->

                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- type 5 for text input -->
                      <div *ngIf="data.type == 5">
                        <div class="col-md-12">
                          <div class="panel-heading" style="padding: 10px 0px;">
                            <div class="form-group col-md-3" style="margin-top: 5px;">
                              <label>{{data.label}} :</label>
                            </div>
                            <div class="form-group col-md-9">
                              <label class="form-check-inline" *ngFor="let od of data.options">
                                <input type="text" name="'FirstName'+od" style="width: 150%;" placeholder="{{od}}"
                                  (change)="SubmitPreferences(myinput.value,data._id,data.type,$event,ii)" #myinput>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- type 10 for dropdown -->
                      <div *ngIf="data.type == 10">
                        <div class="col-md-12">
                          <div class="panel-heading" style="padding: 10px 0px;">
                            <div class="form-group col-md-3" style="margin-top: 5px;">
                              <label>{{data.label}} :</label>
                            </div>
                            <div class="form-group col-md-9">
                              <label class="form-check-inline" style="margin-left: 10px;">

                                <select formControlName="category" class="myselect"
                                  (change)="SubmitPreferences(op,data._id,data.type,$event,ii)">


                                  <option *ngFor="let op of data.options" [value]="op">{{op}}</option>
                                </select>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="modal-footer pull-center" style="border-top:none;">
                      <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                      <button class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    </div> -->
                  </div>
                </div>

                <!--  my searcch prefrence model  -->

                <div class="tab-pane" id="tbbdd">
                  <div class="modal-body col-md-12">
                    <div style="margin:2%" formArrayName="values">
                      <div [formGroupName]="i"
                        *ngFor="let pref of PreferenceArrayData; let ii=index  let value of editUserForm.controls.values.controls;  let i=index;">
                        <!-- for Radio button of mysearch prefrence -->
                        <div *ngIf="pref.TypeOfPreference == 1">

                          <div class="col-md-12">

                            <div class="panel-heading" style="padding: 10px 0px; border:none;">
                              <div class="form-group col-md-3" style="margin-top: 5px;">
                                <label>{{pref.PreferenceTitle}} :</label>
                              </div>
                              <div class="form-group col-md-9">
                                <div [formGroupName]="i">
                                  <label class="form-check-inline" *ngFor="let o of pref.OptionsValue"
                                    style="margin-left: 8px;">
                                    <input class="form-check-input" type="radio" [name]="'Religious_beliefs'+ ii"
                                      [value]="true"
                                      (change)="SubmitSearchPreferences(o,pref._id,pref.TypeOfPreference,$event,ii)">
                                    {{o}}
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                        <!-- For Single Slider of mysearch prefrence -->

                        <div *ngIf="pref.TypeOfPreference == '3'">
                          <div class="col-md-12">
                            <div class="panel-heading" style="padding: 10px 0px;">
                              <div class="form-group col-md-3" style="margin-top: 5px;">
                                <label>{{pref.PreferenceTitle}} :</label>
                              </div>
                              <div class="form-group col-md-9">

                                <label class="form-check-inline">

                                </label>
                                <p style="text-align:center;">
                                  <strong style="float:left;">Min:0</strong>

                                  {{pref.OptionsValue[0]}} {{pref.optionsUnits[0]}} - {{pref.OptionsValue[1]}}
                                  {{pref.optionsUnits[1]}}
                                  <strong style="float:right">Max: 300</strong>
                                </p>
                                <nouislider [connect]="true" [min]="0" [max]="300" [step]="1" startValue="0"
                                  endValue="500" [(ngModel)]="pref.OptionsValue" id="lider-range"
                                  value="pref.OptionsValue"></nouislider>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- For Double Slider of mysearch prefrence -->

                        <div *ngIf="pref.TypeOfPreference == '4'">
                          <div class="col-md-12">
                            <div class="panel-heading" style="padding: 10px 0px;">
                              <div class="form-group col-md-3" style="margin-top: 5px;">
                                <label>{{pref.PreferenceTitle}} :</label>
                              </div>
                              <div class="form-group col-md-9">

                                <label class="form-check-inline">

                                </label>
                                <p style="text-align:center;">
                                  <strong style="float:left;">Min:0</strong>

                                  {{pref.OptionsValue[0]}} {{pref.optionsUnits[0]}} - {{pref.OptionsValue[1]}}
                                  {{pref.optionsUnits[1]}}
                                  <strong style="float:right">Max: 300</strong>
                                </p>
                                <nouislider [connect]="true" [min]="0" [max]="300" [step]="1" startValue="0"
                                  endValue="500" [(ngModel)]="pref.OptionsValue" id="lider-range"
                                  value="pref.OptionsValue"></nouislider>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="modal-footer pull-center" style="border-top:none;">
                      <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                      <button class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    </div> -->
                  </div>
                </div>

              </div>

            </div>

          </form>


        </div>
      </div>
    </div>

    <!-- map model -->
    <div (mouseover)="initMap(myMap)" class="modal modal-custom fade" *ngIf="mapmodal" id="myMapModal">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom">
          <div class="modal-body">


            <sebm-google-map #myMap [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
              [zoomControl]="true">
              <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
            </sebm-google-map>



            <input type="text" class="form-control" placeholder="Search For Location" id="autocompleteInput">
          </div>

          <div class="modal-footer pull-left" style="border-top:none;">
            <button type="button" (click)="closeMap()" class="btn btn-primary btn-sm">Set</button>
            <button type="button" (click)="cancelMap()" class="btn btn-default btn-sm">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- SendPushNotificationModal -->
    <div id="SendPushNotification" class="modal  modal-custom fade" role="dialog">
      <div class=" ">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Send Notification</h5>
            </div>
            <form [formGroup]="notificationM" novalidate>
              <div class="modal-body col-md-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                  <div class="form-group col-md-12">
                    <label>Push Title
                      <sup>*</sup>
                    </label>


                    <input type="text" class="form-control form-control-sm" placeholder="Push Title"
                      formControlName="line2">
                    <!-- <span class="help-block text-danger" *ngIf="hasError && myForm.get('firstName').hasError('required')">Field is required</span> -->
                  </div>
                  <div class="form-group col-md-12">
                    <label>Push Message
                      <sup>*</sup>
                    </label>


                    <input type="text" class="form-control form-control-sm" placeholder="Push Message"
                      formControlName="message">
                    <!-- <span class="help-block text-danger" *ngIf="hasError && myForm.get('firstName').hasError('required')">Field is required</span> -->
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm btn-style" style="height: 30px;
                                      width: 80px;  background-color:green;" (click)="sendNotification()">
                  Send</button>
                <button type="button" class="btn  btn-style button3" data-dismiss="modal" style="border: 1px solid #7f7f7f; height: 30px;
                                      width: 80px; padding:0px;" (click)="clear()">Cancel</button>

              </div>
            </form>

          </div>
        </div>
      </div>


    </div>

    <!-- proUser Modal -->
    <div id="proUser" class="modal  modal-custom fade" role="dialog">
      <div class=" ">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Plans For ProUser </h5>
            </div>
            <div style="padding-bottom: 1px;">
              <div class="table-responsive" id="table-responsive"
                style="padding-top: 10px; padding-left: 10px; padding-right: 10px">
                <table class="table table-bordered hover">
                  <thead>
                    <tr>
                      <th>
                        #
                        <!-- <input type="checkbox" id="hCheck" (change)="selectAllCheckBox()" style="margin-top: 5px;" /> -->
                      </th>
                      <th>No</th>
                      <th> PLAN TITLE </th>
                      <th>COST </th>
                      <th> DESCRIPTION </th>
                      <th>STATUS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="!planData">
                      <td colspan="7">No Data Found</td>
                    </tr>
                    <tr *ngFor="let plan of planData ; let ii = index" [ngClass]="{red:plan.planName == userProPlan }">
                      <td>
                        <input name="userListCheckbox" title='This plan User Have'
                          [checked]="plan.planName == userProPlan" type="radio" (click)="gotocheckplan(plan,ii)"
                          style="margin-top: 15px; " />
                        <label for="yes"></label>
                      </td>
                      <td>{{ii+1}}</td>
                      <td>
                        {{plan.planName}}
                      </td>
                      <td>{{plan.currencySymbol}}{{plan.cost}}</td>
                      <td>{{plan.description}}</td>
                      <td id="capital">{{plan.status}} </td>
                    </tr>
                  </tbody>

                </table>

              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-sm btn-style"
                style="height: 30px; width: 80px;  background-color:green;" (click)="sendpro()">Add</button>
              <button type="button" class="btn  btn-style button3" data-dismiss="modal"
                style="border: 1px solid #7f7f7f; height: 30px;width: 80px; padding:0px;">Cancel</button>
            </div>

          </div>
        </div>
      </div>


    </div>

    <!-- Add many Modal -->
    <div id="addManyUser" class="modal fade" role="dialog">
      <div class=" ">
        <div class="col-xl-8 col-md-12 col-xs-12 offset-xl-2 offset-md-2 offset-xs-1">
          <div class="card" style="width: 60%;
            padding: 20px;">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">ADD MANY USER</h5>
            </div>


            <div class="table-responsive" id="table-responsive">
              <label for="File">Choose File</label>
              <input #inputFile type="file" />
            </div>

            <div class="row prl-10">
              <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <label for="loc">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Enter Location">
              </div>

              <div class="form-group col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <label for="lat">Latitude</label>
                <input type="text" class="form-control" id="latitude" readonly>
              </div>
              <div class="form-group col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <label for="long">Longitude</label>
                <input type="text" class="form-control" id="longitude" readonly>
              </div>
            </div>

            <div class="modal-footer" style="border-top:transparent;">
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary btn-sm btn-style"
                style="height: 30px; width: 80px;  background-color:green;"
                (click)="gotoXlfileOpen(inputFile.value)">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>





  </div>
</body>

</html>