 @import "../../global.scss";

.btn{
    border-radius: 12px;
    
    border: none; 
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // margin: 4px 2px;
    cursor: pointer;
}
.btn .btn-default{
    line-height: 0px;
}
.modal-footer
{
  border-top: none;  
}
.fa-2x {
   
   
    font-size: 1.4em;

}

#table-align{
    text-align: center; 
    font-size: 12px;
    margin-top: 15px;
}
::-webkit-scrollbar-track {
    background: none;

  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .rotateimg180 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .myPage{
      float: left;
  }