@import "theme/styles/variables";
@import "theme/styles/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/pace/themes/pace-theme-flash";
@import "../../node_modules/glyphicons-halflings/scss/glyphicons-halflings";
@import "../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox";
//@import "../../node_modules/dropzone/dist/dropzone";



@import "theme/styles/bootstrap-override";
@import "theme/styles/libs-override";


@import "theme/styles/font";
@import "theme/styles/base";


.btn-cust{
    background-color: transparent;
    border-color: transparent;
    color: #22a1e4;
}
button.btn-cust:hover {
    color: blue;
    text-decoration:underline;
}

label{
    color: #4B6674 !important;
    font-weight: bold;
}
 