 @import "../../global.scss";


.breadcrumb-item{
      cursor:pointer;
  
}
#breadcumb{
    background-color: white;
}
.nav-tabs .nav-item .nav-link.active{
    border-bottom: 4px solid #f55753;
}
.nav-tabs{
    border-bottom: none;
    background-color: white;
    border:none;
}
 
.tab-content{
    border: none;
}
.btn-style{
    height: 40px;
    width: 100px;
    font-size: 16px;
    float: left;
    margin-left: 200px;
}

#capital{
    text-transform: capitalize;
  }

  #table-align  td{
    padding: 10px
  }