 @import "../../global.scss";

.breadcrumb-item{
      cursor:pointer;
  
}
 
.tab-content{
    border: none;
}
.btn-style{
    height: 40px;
    width: 100px;
    font-size: 16px;
    float: left;
    margin-left: 200px;
    // border: 1px solid black;
}
.cancel-button {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}
.cancel-button:hover {
    background-color: #f44336;
    color: white;
}

#myForm{
    margin-left: -25px;
}
#row{
    margin: 15px;
}
#form-div{
    height: 100px;
     padding-left: 10px; margin-bottom:5px;
}
#btn-back{
    border-radius: 5px; background-color: black;
}