

<!-- This "matches" full Angular component is here use for "Report Reasons" -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="clearfix">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Report Reasons</li>
        <div>
            <button class="btn btn-info btn-md pull-right" data-toggle="modal" style="margin: 2px 20px 4    px 0px;" data-target="#addResonce">Add</button>
        </div>
        <div class="pull-right">
        </div>
    </ol>


</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
    <div widget class="card">
        <div class="table-responsive">
            <table class="table table-bordered hover">
                <thead>
                    <tr>
                        <th style="text-align: center">No</th>
                        <th style="text-align: center">Reason </th>
                        <th style="text-align: center">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let obj of data; let i = index">
                        <td style="text-align: center">{{i+1}}</td>
                        <td style="text-align: center">{{obj.reason}}</td>
                        <td id="test" style="text-align: center">
                            <button type="button" class="btn-cust fa-2x" data-toggle="modal" data-target="#editCategory" style="color:  dodgerblue;"
                                title="Edit Reason" (click)="editResonnce(obj)">
                                <i class="ion-edit fa-2x" style="cursor: pointer;"></i>
                            </button>


                            <button type="button" class="btn-cust fa-2x" style="color:  red;" title="Delete Reason" (click)="showModalDelete(obj._id)">
                                <i class="ion-android-delete fa-2x" style="cursor: pointer;"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<div class="modal fade" id="addResonce" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Add Report Reason
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addResonces" ngNativeValidate (ngSubmit)="submitForm(addResonces)">
                <div class="modal-body" style="height: 86px;">

                    <div class="form-group col-xs-12 required">
                        <label for="input-2" id="lableCss" class="control-label col-xs-3">Report Reason</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Reason" [formControl]="addResonces.controls['reportResonceName']"
                                [ngModel]="addResonces.reportResonceName">
                            <div *ngIf="addResonces.controls['reportResonceName'].errors && (addResonces.controls['reportResonceName'].dirty || addResonces.controls['reportResonceName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addResonces.controls['reportResonceName'].errors.required">
                                    Reason is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <!-- Get dynamicaly values of language -->
                    <div *ngFor="let dynamic of lang; let i = index" class="form-group required col-xs-12 required">
                        <label for="input-2" class="control-label col-xs-3">Report Reason({{dynamic.languageName}})</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" (keyup)="languageAdd($event, i)" placeholder="Enter Reason in {{ dynamic.languageName }}"
                                required />
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <!--  -->
                    <br>
                    <br>
                </div>
                <div class="modal-footer  ">
                    <div class="pull-right" style="text-align: center;">
                        <button type="submit" class="btn btn-primary" [disabled]="!addResonces.valid">Add</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="editCategory" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Edit Report Reason
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editResonces" ngNativeValidate (ngSubmit)="updatedReason(editResonces)">
                <div class="modal-body" style="height: 86px;">

                    <div class="form-group required col-xs-12 required">
                        <label for="input-2" id="lableCss" class="control-label col-xs-3">Report Reason</label>
                        <div class="col-xs-9">
                            <input type="text" id="newReason" class="form-control checking-field" placeholder="Enter Resonce" [formControl]="editResonces.controls['reportResonceName']"
                                [ngModel]="obj">
                            <input type="hidden" id="newReason_id" class="form-control checking-field" placeholder="Enter Resonce" [formControl]="editResonces.controls['newReason_id']"
                                [ngModel]="editResonces.newReason_id">
                            <div *ngIf="editResonces.controls['reportResonceName'].errors && (editResonces.controls['reportResonceName'].dirty || editResonces.controls['reportResonceName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editResonces.controls['reportResonceName'].errors.required">
                                    Reason is Required
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <!-- Get dynamicaly values of language -->
                    <div *ngFor="let dynamic of lang; let i = index" class="form-group required col-xs-12 required">
                        <label for="input-2" class="control-label col-xs-3">Report Reason({{dynamic.languageName}})</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" [ngClass]="'text'+dynamic.langeugeCode" (keyup)="languageAdd($event, i)"
                                placeholder="Enter Reason in {{ dynamic.languageName }}" required />
                        </div>
                    </div>
                    <!--  -->
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="modal-footer  ">
                    <div class="pull-right" style="text-align: center;">
                        <button type="submit" class="btn btn-primary" [disabled]="!editResonces.valid">Update</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>