
@import "../../global.scss";

.breadcrumb-item{
      cursor:pointer;
      font-size:18px; color: #4B6674;
      font-weight: bold;
}

.top-10 {
    padding-top: 10px;
}

.nav-tabs .nav-item .nav-link.active{
    border-bottom: 4px solid #f55753;
}
.nav-tabs{
    border-bottom: none;
    background-color: white;
    border:none;
}
.tab-content{
    border: none;
}
#nav-listyle{
    border-bottom: 1px solid;
    width: 100%;
    display: inline-block;
    border: none;
}
#active-tabs{
    // border-bottom: 1px solid;
     float: left;
    margin-bottom: 0px;
     
}
.anyClasses {
    height:150px;
    overflow-y: scroll;
    padding: 10px;
  }

#row-content{
    padding-left: 30px;
                padding-top: 15px;
                margin-bottom: -10px;
}
#well-class{
    height: 100px;
                padding-left: 10px;     width: 97%;
}