 @import "../../global.scss";

.nav-tabs .nav-item .nav-link.active{
    border-bottom: 4px solid #f55753;
}
.nav-tabs{
    border-bottom: none;
    background-color: white;
    border:none;
}
 #breadcumb{
   background-color: white;
 }
.tab-content{
    border: none;
}
.btn-style{
    height: 40px;
    width: 100px;
    font-size: 16px;
    float: left;
    margin-left: 200px;
}
.cancel-button {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}
.cancel-button:hover {
    background-color: #f44336;
    color: white;
}
.view-detail {
    // background-color: #4CAF50; 
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    /* margin: 4px 2px; */
    cursor: pointer;
}

  .switch-plan {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
    margin-left: 100px;
  }
  
  .switch-plan input {display:none;}
  
  .slider-plan {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .slider-plan:before {
    position: absolute;
     content: "";
    //  content: attr(data-off);
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider-plan{
    background-color: #2ab934;
  }
  
  input:focus + .slider-plan {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider-plan:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
  }
  
  /*------ ADDED CSS ---------*/
  .slider-plan:after
  {
    // content:'No';
   content: attr(data-off);
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 60%;
   font-size: 10px;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider-plan:after
  {  
    //  content:'Yes';
    content: attr(data-on);
    left: 40%;
  }
  
  /*--------- END --------*/
  input[type="text"] {
    border-radius: 25px; 
    padding: 17px;
    width: 100%;
    height: 10px;
}

#left-space{
  padding-left: 0px;
}
#table-padding td{
  padding-left: 50px;
}
#nav-style{
  margin-top:  16px;  border-bottom: none;
}
#addBtn{
  color: black;
  
}
#deleteBtn{
    // margin-left: 20px;
    color: black;
}
#capital{
  text-transform: capitalize;
}
#saveBtn{
 
    background-color:green
}
#cancelBtn{
  border: 1px solid #7f7f7f; 
}