<html>

<head>
  <title>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>




  <div class="clearfix">

    <ol class="breadcrumb" id="breadcumb">

      <li (click)="refresh()" class="breadcrumb-item active">Plan</li>







    </ol>

    <div class="col-lg-12 col-xs-12 bottom-15">
      <div class="clearfix">
        <ul class="nav nav-tabs top pull-xs-left" id="nav-style">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Active">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Deleted">Deleted</a>
          </li>

        </ul>
      </div>

      <div class="tab-content top">
        <div class="tab-pane active" id="Active">
          <div class="modal-body" style="height: 500px;">

            <form name="ActivePlan">
              <div class="row pull-right">


                <!-- <div class="form-group  col-md-9">
                  <label>Search</label>
                  <input type="text" class="form-control form-control-sm" #myPlanInput (keyup)="gotoSearchPlan(myPlanInput.value)" placeholder="Seach by Plan Name"
                    formControlName="search" />

                </div> -->
                <!-- <div class="form-group  col-md-12">

                  <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#addPlan" id="addBtn">Add
                    Plan</button>
                  <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="model" (click)="editplan()" id="addBtn">Edit
                    Plan</button>
                  <button type="button" class="btn btn-info btn-md" title="Delete User" id="deleteBtn" (click)="DeletePlan()">Delete
                    Plan </button>

                </div> -->

              </div>
            </form>

            <div class="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>
                            <th>
                              <input type="checkbox" id="hCheck" (change)="selectAllCheckBox()" style="margin-top: 5px;" />
                            </th>
                            <th>#</th>
                            <th> PLAN TITLE </th>
                            <th>COST </th>
                            <th> DESCRIPTION </th>
                            <th>STATUS</th>
                            <th>LOGS </th>



                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!planData">
                            <td colspan="7">No Data Found</td>
                          </tr>
                          <tr *ngFor="let plan of planData  | paginate: {itemsPerPage: rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">
                            <td>
                              <input name="userListCheckbox" type="checkbox" [checked]="plan.checked" (click)="gotocheck(plan._id)" id="(plan._id)" style="margin-top: 15px; "
                              />


                            </td>
                            <td>{{i+1}}</td>
                            <td>
                              {{plan.planName}}
                            </td>
                            <td>{{plan.currencySymbol}}{{plan.cost}}</td>



                            <td>{{plan.description}}</td>
                            <td id="capital">{{plan.status}} </td>


                            <td>
                              <button type="button" class="view-detail" (click)="userDetailsModal(plan)" data-toggle="modal" data-target="#userDetails">
                                View Details
                              </button>
                            </td>
                          </tr>
                        </tbody>

                      </table>
                      <pagination-controls (pageChange)="getPage($event)"> </pagination-controls>

                      <!-- <pagination-controls *ngIf="planData" (pageChange)="page = $event" id="a">
                                  </pagination-controls> -->

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane " id="Deleted">
          <div class="modal-body" style="height: 500px;">

            <!-- <form name="ActivePlan">
              <div class="row ">


                <div class="form-group  col-md-12">
                  <label>Search</label>
                  <input type="text" class="form-control form-control-sm" #mydeleteInput (keyup)="gotoSearchSeletePlan(mydeleteInput.value)"
                    placeholder="Seach by Plan Name" formControlName="search" />

                </div>



              </div>
            </form> -->

            <div class="clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div widget class="card">
                    <div class="table-responsive" id="table-responsive">
                      <table class="table table-bordered hover">
                        <thead>
                          <tr>

                            <th>#</th>
                            <th> PLAN TITLE </th>
                            <th>COST </th>
                            <th> DESCRIPTION </th>
                            <th>STATUS</th>




                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!deletePlanData">
                            <td colspan="7">No Data Found</td>
                          </tr>
                          <tr *ngFor="let plan of deletePlanData  | paginate: {itemsPerPage: rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                            [attr.data-index]="i">

                            <td>{{i+1}}</td>
                            <td>
                              {{plan.planName}}
                            </td>
                            <td>{{plan.currencySymbol}}{{plan.cost}}</td>

                            <td>{{plan.description }}</td>

                            <td id="capital">{{plan.status}} </td>



                          </tr>
                        </tbody>

                      </table>

                      <pagination-controls (pageChange)="getDeletePlanPages($event)"> </pagination-controls>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>


    </div>




    <!--Addplan Modal -->
    <div id="addPlan" class="modal  modal-custom fade" role="dialog">
      <div class=" ">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Add Plan</h5>
            </div>
            <form [formGroup]="addplan" (ngSubmit)="submitForm(addplan)">
              <div class="modal-body col-md-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                  <div class="form-group col-lg-6">
                    <label class="form-group">Plan Name
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['planName']" [ngModel]="addplan.planName" placeholder="Plan Name">

                    <span *ngIf="addplan.controls['planName']?.errors && (addplan.controls['planName'].dirty || addplan.controls['planName'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!addplan.controls['planName'].errors.required">
                        Plan Name is Required
                      </span>
                    </span>
                  </div>
                  <div class="form-group col-lg-6">
                    <label>DurationInDays
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['durationInDays']" [ngModel]="addplan.durationInDays"
                      placeholder="DurationInDays">
                    <span *ngIf="addplan.controls['durationInDays']?.errors && (addplan.controls['durationInDays'].dirty || addplan.controls['durationInDays'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!addplan.controls['durationInDays'].errors.required">
                        durationInDays is Required
                      </span>
                    </span>

                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">


                  <div class="form-group col-lg-6">
                    <label>DurationInMonth
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['durationInMonths']" [ngModel]="addplan.durationInMonths"
                      placeholder="DurationInDays">
                    <span *ngIf="addplan.controls['durationInMonths']?.errors && (addplan.controls['durationInMonths'].dirty || addplan.controls['durationInMonths'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!addplan.controls['durationInMonths'].errors.required">
                        durationInMonth is Required
                      </span>
                    </span>

                  </div>


                  <div class="form-group col-lg-6">
                    <label>LikeCount
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['likeCount']" [ngModel]="addplan.likeCount "
                      placeholder="LikeCount">
                    <span *ngIf="addplan.controls['likeCount']?.errors && (addplan.controls['likeCount'].dirty || addplan.controls['likeCount'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!addplan.controls['likeCount'].errors.required">
                        likeCount is Required
                      </span>
                    </span>

                  </div>



                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">


                  <div class="form-group col-lg-6">
                    <label>Actual Id
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['actualId']" [ngModel]="addplan.actualId " placeholder="Actual Id">
                    <span *ngIf="addplan.controls['actualId']?.errors && (addplan.controls['actualId'].dirty || addplan.controls['actualId'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!addplan.controls['actualId'].errors.required">
                        Actual Id is Required
                      </span>
                    </span>
                  </div>
                  <div class="form-group col-lg-6">
                    <label>CurrencySymbol
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['currencySymbol']" [ngModel]="addplan.currencySymbol"
                      placeholder="CurrencySymbol">
                    <span *ngIf="addplan.controls['currencySymbol']?.errors && (addplan.controls['currencySymbol'].dirty || addplan.controls['currencySymbol'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!addplan.controls['currencySymbol'].errors.required">
                        currencySymbol is Required
                      </span>
                    </span>
                  </div>


                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                  <div class="form-group col-lg-6">
                    <label>CurrencyCode
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['currencyCode']" [ngModel]="addplan.currencyCode"
                      placeholder="CurrencyCode">
                    <span *ngIf="addplan.controls['currencyCode']?.errors && (addplan.controls['currencyCode'].dirty || addplan.controls['currencyCode'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!addplan.controls['currencyCode'].errors.required">
                        currencyCode is Required
                      </span>
                    </span>
                  </div>

                  <div class="form-group col-lg-6">
                    <label>Description
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['description']" [ngModel]="addplan.description"
                      placeholder="Description">
                    <span *ngIf="addplan.controls['description']?.errors && (addplan.controls['description'].dirty || addplan.controls['description'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!addplan.controls['description'].errors.required">
                        Description is Required
                      </span>
                    </span>
                  </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">


                  <div class="form-group col-lg-6">
                    <label>RewindCount
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['rewindCount']" [ngModel]="addplan.rewindCount "
                      placeholder="RewindCount">
                    <span *ngIf="addplan.controls['rewindCount'].errors && (addplan.controls['rewindCount'].dirty || addplan.controls['rewindCount'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!addplan.controls['rewindCount'].errors.required">
                        rewindCount is Required
                      </span>
                    </span>
                  </div>

                  <div class="form-group col-lg-6">
                    <label>Cost
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="addplan.controls['cost']" [ngModel]="addplan.cost " placeholder="Cost">
                    <span *ngIf="addplan.controls['cost']?.errors && (addplan.controls['cost'].dirty || addplan.controls['cost'].touched)" class="help-block text-danger">
                      <span [hidden]="!addplan.controls['cost'].errors.required">
                        cost is Required
                      </span>
                    </span>
                  </div>

                </div>






                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Passport
                      <sup>*</sup>
                    </label>

                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn1" (change)="onChange($event)" [(ngModel)]="passport[i]" [formControl]="addplan.controls['passport']">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>


                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Recentvisitors
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn2" (change)="onChange($event)" [(ngModel)]="recentVisitors[i]" [formControl]="addplan.controls['recentVisitors']">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>


                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Who superlikeMe
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn3" (change)="onChange($event)" [(ngModel)]="whoSuperLikeMe[i]" [formControl]="addplan.controls['whoSuperLikeMe']">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>

                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Who likeMe
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn4" (change)="onChange($event)" [(ngModel)]="whoLikeMe[i]" [formControl]="addplan.controls['whoLikeMe']">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>


                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">No Ads
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn5" (change)="onChange($event)" [(ngModel)]="noAdds[i]" [formControl]="addplan.controls['noAdds']">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>

                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Readreceipt
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn6" (change)="onChange($event)" [(ngModel)]="readreceipt[i]" [formControl]="addplan.controls['readreceipt']">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>



                  </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">HideDistance
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn7" (change)="onChange($event)" [(ngModel)]="hideDistance[i]" [formControl]="addplan.controls['hideDistance']">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>



                  </div>
                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">HideAge
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn8" (change)="onChange($event)" [(ngModel)]="hideAge[i]" [formControl]="addplan.controls['hideAge']">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>





                  </div>

                </div>
                <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>


              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-md btn-style" id="saveBtn">Save</button>
                <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" id="cancelBtn">Cancel</button>
              </div>
            </form>

          </div>
        </div>
      </div>


    </div>
    <!--Edit Modal -->
    <div id="editPlan" class="modal  modal-custom fade" role="dialog">
      <div class=" ">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Edit Plan</h5>
            </div>
            <form [formGroup]="editPlan" (ngSubmit)="submiteditForm(editPlan)">
              <div class="modal-body col-md-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                  <div class="form-group col-lg-6">
                    <label class="form-group">Plan Name
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newplanName']" [(ngModel)]="editPlanData.planName"
                      placeholder="Plan Name">

                    <span *ngIf="editPlan.controls['newplanName']?.errors && (editPlan.controls['newplanName'].dirty || editPlan.controls['newplanName'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newplanName'].errors.required">
                        Plan Name is Required
                      </span>
                    </span>
                  </div>
                  <div class="form-group col-lg-6">
                    <label>DurationInDays
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newdurationInDays']" [(ngModel)]="editPlanData.durationInDays"
                      placeholder="DurationInDays">
                    <span *ngIf="editPlan.controls['newdurationInDays']?.errors && (editPlan.controls['newdurationInDays'].dirty || editPlan.controls['newdurationInDays'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newdurationInDays'].errors.required">
                        durationInDays is Required
                      </span>
                    </span>

                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">


                  <div class="form-group col-lg-6">
                    <label>DurationInMonth
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newdurationInMonths']" [(ngModel)]="editPlanData.durationInMonths"
                      placeholder="DurationInDays">
                    <span *ngIf="editPlan.controls['newdurationInMonths']?.errors && (editPlan.controls['newdurationInMonths'].dirty || editPlan.controls['newdurationInMonths'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newdurationInMonths'].errors.required">
                        durationInMonth is Required
                      </span>
                    </span>

                  </div>


                  <div class="form-group col-lg-6">
                    <label>LikeCount
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newlikeCount']" [(ngModel)]="editPlanData.likeCount"
                      placeholder="LikeCount">
                    <span *ngIf="editPlan.controls['newlikeCount']?.errors && (editPlan.controls['newlikeCount'].dirty || editPlan.controls['newlikeCount'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newlikeCount'].errors.required">
                        likeCount is Required
                      </span>
                    </span>

                  </div>



                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">


                  <div class="form-group col-lg-6">
                    <label>Actual Id
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newactualId']" placeholder="Actual Id" [(ngModel)]="editPlanData.actualId">
                    <span *ngIf="editPlan.controls['newactualId']?.errors && (editPlan.controls['newactualId'].dirty || editPlan.controls['newactualId'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newactualId'].errors.required">
                        Actual Id is Required
                      </span>
                    </span>
                  </div>
                  <div class="form-group col-lg-6">
                    <label>CurrencySymbol
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newcurrencySymbol']" [(ngModel)]="editPlanData.currencySymbol"
                      placeholder="CurrencySymbol">
                    <span *ngIf="editPlan.controls['newcurrencySymbol']?.errors && (editPlan.controls['newcurrencySymbol'].dirty || editPlan.controls['newcurrencySymbol'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newcurrencySymbol'].errors.required">
                        currencySymbol is Required
                      </span>
                    </span>
                  </div>


                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                  <div class="form-group col-lg-6">
                    <label>CurrencyCode
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newcurrencyCode']" [(ngModel)]="editPlanData.currencyCode"
                      placeholder="CurrencyCode">
                    <span *ngIf="editPlan.controls['newcurrencyCode']?.errors && (editPlan.controls['newcurrencyCode'].dirty || editPlan.controls['newcurrencyCode'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newcurrencyCode'].errors.required">
                        currencyCode is Required
                      </span>
                    </span>
                  </div>

                  <div class="form-group col-lg-6">
                    <label>Description
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newdescription']" [(ngModel)]="editPlanData.description"
                      placeholder="Description">
                    <span *ngIf="editPlan.controls['newdescription']?.errors && (editPlan.controls['newdescription'].dirty || editPlan.controls['newdescription'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newdescription'].errors.required">
                        Description is Required
                      </span>
                    </span>
                  </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">


                  <div class="form-group col-lg-6">
                    <label>RewindCount
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newrewindCount']" [(ngModel)]="editPlanData.rewindCount"
                      placeholder="RewindCount">
                    <span *ngIf="editPlan.controls['newrewindCount'].errors && (editPlan.controls['newrewindCount'].dirty || editPlan.controls['newrewindCount'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newrewindCount'].errors.required">
                        rewindCount is Required
                      </span>
                    </span>
                  </div>

                  <div class="form-group col-lg-6">
                    <label>Cost
                      <sup>*</sup>
                    </label>
                    <input type="text" class="form-control mb-2" [formControl]="editPlan.controls['newcost']" placeholder="Cost" [(ngModel)]="editPlanData.cost">
                    <span *ngIf="editPlan.controls['newcost']?.errors && (editPlan.controls['newcost'].dirty || editPlan.controls['newcost'].touched)"
                      class="help-block text-danger">
                      <span [hidden]="!editPlan.controls['newcost'].errors.required">
                        cost is Required
                      </span>
                    </span>
                  </div>

                </div>






                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">

                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Passport
                      <sup>*</sup>
                    </label>

                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn1" (change)="onChange($event)" [(ngModel)]="newpassport" [formControl]="editPlan.controls['newpassport']"
                        [checked]="editPlanData.passport == true">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>


                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Recentvisitors
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn2" (change)="onChange($event)" [(ngModel)]="newrecentVisitors" [formControl]="editPlan.controls['newrecentVisitors']"
                        [checked]="editPlanData.recentVisitors == true">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>


                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Who superlikeMe
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn3" (change)="onChange($event)" [(ngModel)]="newwhoSuperLikeMe" [formControl]="editPlan.controls['newwhoSuperLikeMe']"
                        [checked]="editPlanData.whoSuperLikeMe == true">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>

                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Who likeMe
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn4" (change)="onChange($event)" [(ngModel)]="newwhoLikeMe" [formControl]="editPlan.controls['newwhoLikeMe']"
                        [checked]="editPlanData.whoLikeMe == true">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>


                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">No Ads
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn5" (change)="onChange($event)" [(ngModel)]="newnoAdds" [formControl]="editPlan.controls['newnoAdds']"
                        [checked]="editPlanData.noAdds == true">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>


                  </div>

                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">Readreceipt
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn6" (change)="onChange($event)" [(ngModel)]="newreadreceipt" [formControl]="editPlan.controls['newreadreceipt']"
                        [checked]="editPlanData.readreceipt == true">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>



                  </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">HideDistance
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn7" (change)="onChange($event)" [(ngModel)]="newhideDistance" [formControl]="editPlan.controls['newhideDistance']"
                        [checked]="editPlanData.hideDistance == true">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>



                  </div>
                  <div class="form-group col-lg-6">
                    <label class="col-lg-12 " id="left-space">HideAge
                      <sup>*</sup>
                    </label>
                    <label class="switch-plan">
                      <input type="checkbox" [checked]="checked" id="togBtn8" (change)="onChange($event)" [(ngModel)]="newhideAge" [formControl]="editPlan.controls['newhideAge']"
                        [checked]="editPlanData.hideAge == true">
                      <div class="slider-plan round" data-on="Yes" data-off="No"></div>
                    </label>





                  </div>

                </div>
                <div class="{{erro}}" role="alert" *ngIf="error">{{errorMessage}}</div>


              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-md btn-style" id="saveBtn">Update</button>
                <button type="button" class="btn  btn-style cancel-button" data-dismiss="modal" id="cancelBtn">Cancel</button>
              </div>
            </form>

          </div>
        </div>
      </div>


    </div>

    <div id="userDetails" class="modal modal-custom fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height: 500px;
         width: 500px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Plan Details</h4>
          </div>
          <form [formGroup]="userDetailForm" novalidate>
            <div class="col-lg-12 col-xs-12 bottom-15">


              <div class="tab-content top">
                <div class="tab-pane active" id="Profile_Details">
                  <div class="modal-body ">



                    <div class=" col-md-12 col-lg-12 ">
                      <table class="table table-user-information" id="table-padding">
                        <tbody>
                          <tr>
                            <td>Plan Name :</td>
                            <td>{{userDetails.Name}}</td>
                          </tr>
                          <tr>
                            <td>Actual Id </td>
                            <td>{{userDetails.actualId}}</td>
                          </tr>
                          <tr>
                            <td> Cost</td>
                            <td> {{userDetails.Cost}}</td>
                          </tr>
                          <tr>
                            <td>Description </td>
                            <td>{{userDetails.Description}}</td>
                          </tr>

                          <tr>
                            <td>Date</td>
                            <td>{{userDetails.Date | date: "short" }}</td>
                          </tr>
                          <tr>
                            <td>Status</td>
                            <td>{{userDetails.Status }}</td>
                          </tr>
                          <tr>
                            <td>Currency Symbol</td>
                            <td>{{userDetails.currencySymbol}}</td>
                          </tr>
                          <tr>
                            <td>Currency Code</td>
                            <td>{{userDetails.currencyCode}} </td>
                          </tr>
                          <tr>
                            <td>durationInDays</td>
                            <td>{{userDetails.durationInDays}}</td>
                          </tr>



                          <tr>
                            <td>duration In Months</td>
                            <td>{{userDetails.durationInMonths}}</td>
                          </tr>
                          <!-- <tr>
                            <td>statusCode</td>
                            <td>{{userDetails.StatusCode}}</td>
                          </tr> -->
                          <tr>
                            <td>Like Count</td>
                            <td>{{userDetails.likeCount}}</td>
                          </tr>
                          <!-- <tr>
                            <td>Super Like Count</td>
                            <td>{{userDetails.superLikeCount}}</td>
                          </tr> -->

                          <tr>
                            <tr>
                              <td>Read Receipt</td>
                              <td>{{userDetails.readreceipt}}</td>


                            </tr>
                            <tr>
                              <td>Passport</td>
                              <td>{{userDetails.passport}}</td>


                            </tr>
                            <tr>
                              <td>Recent Visitors</td>
                              <td>{{userDetails.recentVisitors}}</td>



                            </tr>
                            <tr>
                              <td>Who LikeMe</td>
                              <td>{{userDetails.whoLikeMe}}</td>



                            </tr>
                            <tr>
                              <td>who SuperLikeMe</td>
                              <td>{{userDetails.whoSuperLikeMe}}</td>



                            </tr>
                            <tr>
                              <td>No Ads</td>
                              <td>{{userDetails.noAdds}}</td>


                            </tr>
                            <tr>
                              <td>Rewind Count</td>
                              <td>{{userDetails.rewindCount}}</td>
                            </tr>
                            <tr>
                              <tr>
                                <td>Distance</td>
                                <td>{{userDetails.hideDistance}}</td>


                              </tr>
                              <tr>
                                <td>Age</td>
                                <td>{{userDetails.hideAge}}</td>


                              </tr>


                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- <div class="tab-pane" id="Photo_Gallery">  -->
                <!-- <div class="modal-body col-md-12">
                  <div class="col-md-4" *ngFor="let userImg of userDetails.OtherPhotos let i = index">
                    <img  src="{{userImg}}"
                      width="100" height="100">
                  </div>
                </div>
              </div>  -->
                <!-- <div class="tab-pane" id="Preferences"> -->
                <!-- <div style="margin:2%" formArrayName="values"> -->
                <!-- <div *ngFor="let obj of prefranceValues; let i=index;" class="panel panel-default">
                    <label>
                      <h5>{{obj.title}} : </h5>
                    </label>
                    <div *ngIf="obj.type==1">
                      Selected Value :
                      <b> {{obj.selectedValue}} </b>
                      <br> Options Value :
                      <b>{{obj.optionsValue}}</b>
                      <br>
                    </div>
                    <div *ngIf="obj.type==3">
                      Selected Min :
                      <b>{{obj.SelectedMin}} ,</b> Selected Max :
                      <b>{{obj.SelectedMax}} </b>
                      <br> Option Min :
                      <b>{{obj.OptionsMin}} ,</b> Option Max :
                      <b>{{obj.OptionsMax}} </b>
                      <br>
                    </div>
                  </div>
                </div> -->
                <!-- </div>   -->

              </div>
            </div>
          </form>

        </div>
      </div>
    </div>





  </div>
</body>

</html>