 @import "../../theme/styles/variables";


.modal-content-custom{
    height: 500px;  
    width:500px;
}
.modal-body{
    padding: 0px;

}
.modal-header{
   width: 100%;
   border-bottom:none;
}
.tab-content .tab-pane{
    padding: 10px;
}
.tab-content{
    border:none;
    margin: 10px;

}
.btn{
    border-radius: 12px;
    
    border: none; 
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
}
.btn .btn-default{
    line-height: 0px;
}
.modal-footer
{
  border-top: none;  
}

.fa-2x {
   
   
    font-size: 1.4em;
}
#myTable{
    font-size: 12px;
    text-align: center;
    margin-top: 15px
}

::-webkit-scrollbar-track {
    background: none;

  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .rotateimg180 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .myPage{
    float: left;
  }