<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="clearfix" id="clearfix">
    <ol class="breadcrumb" id="breadcumb">
        <li class="breadcrumb-item active">App Wallet</li>
        <div class="pull-right">
            <button class="btn btn-primary btn-sm" id="btn-style" (click)="backToUsers()">Back to Users</button>
        </div>
    </ol>
    <div class="col-lg-12 col-xs-12 bottom-15" id="top-margins">
        <div class="tab-content top">
            <div class="tab-pane active" id="CoinType1">
                <div class="modal-body" style="height: 500px;">
                    <form name="myForm" id="myForm">
                        <div class="row " id="row">
                            <div class="well  well-lg" id="form-div">
                                <!-- <div class="form-group  col-md-4">
                                    <label>Search</label>
                                    <input type="text" class="form-control form-control-sm" #mySearchInput (keyup)="SearchByText(mySearchInput.value)" placeholder="Seach by Txn ID"
                                    />
                                </div> -->
                                <div class="form-group  col-md-4">
                                    <label> Txn Type </label>
                                    <select class="form-control form-control-md" #SearchByTxnType (change)="setTxnType(SearchByTxnType.value)" style="height:  34px;">
                                        <option value="All">All</option>
                                        <option value="DEBIT">DEBIT</option>
                                        <option value="CREDIT">CREDIT</option>
                                    </select>
                                </div>
                                <div class="form-group  col-md-4">
                                    <label> From</label>
                                    <my-date-picker id="txtUpdateDate1" (dateChanged)="SearchByFromDate($event.formatted)" name="mydate" [(ngModel)]="model"
                                        formControlName="myDate"></my-date-picker>
                                </div>
                                <div class="form-group  col-md-4">
                                    <label> To </label>
                                    <my-date-picker id="txtUpdateDate2" (dateChanged)="SearchByToDate($event.formatted)" name="mydate" [(ngModel)]="model" formControlName="myDate"></my-date-picker>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
                                <div widget class="card">
                                    <div class="table-responsive" id="table-responsive">
                                        <table class="table table-bordered hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th> TXN TYPE </th>
                                                    <th>COST </th>
                                                    <th> CURRENCY </th>
                                                    <th>CURRENCY SYMBOL </th>
                                                    <th>PAYMENT TYPE </th>
                                                    <th>PAYMENT TXN ID </th>
                                                    <th>TRANSACTION DATE </th>
                                                    <th>TRANSACTION TIME </th>
                                                    <th>DATE </th>
                                                    <th>COIN OPENING BALANCE </th>
                                                    <th>COIN CLOSING BALANCE </th>
                                                    <th>INITIATED BY </th>
                                                    <th>TRIGGER </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngIf="!AppWallet">
                                                    <td colspan="16">No Data Found</td>
                                                </tr>
                                                <tr *ngFor="let coin of AppWallet  |  paginate: {itemsPerPage:rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                                                [attr.data-index]="i">
                                                    <td>{{i+1}}</td>
                                                    <td>{{coin.txnType}}</td>
                                                    <td>{{coin.cost}}</td>
                                                    <td>{{coin.currency}}</td>
                                                    <td *ngIf="coin.currencySymbol ==null">N/A</td>
                                                    <td *ngIf="coin.currencySymbol !=null">{{coin.currencySymbol }}</td>
                                                    <td>{{coin.paymentType}}</td>
                                                    <td>{{coin.paymentTxnId}}</td>
                                                    <td>{{coin.transctionDate | date:"dd/MM/yyyy"}}</td>
                                                    <td>{{coin.transctionTime | date: 'hh:mm:ss a'}}</td>
                                                    <td>{{coin.timestamp | date:'dd/MM/yyyy hh:mm:ss a'}}</td>
                                                    <td>{{coin.opeingBalance}}</td>
                                                    <td>{{coin.closingBalance}}</td>
                                                    <td>{{coin.initatedBy}}</td>
                                                    <td>{{coin.trigger}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="getAppWalletData($event)" class="cursor-pointer float-right"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>