 @import "../../theme/styles/variables";


.breadcrumb-item{
      cursor:pointer;
  
}
#table-align{
    text-align: center; 
    font-size: 12px;
    margin-top: 15px;
}


.btn{
    border-radius: 12px;
    
    border: none; 
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // margin: 4px 2px;
    cursor: pointer;
}
.btn .btn-default{
    line-height: 0px;
}
.modal-footer
{
  border-top: none;  
}
.btn .btn-info{
    margin-top: 5px;
    height: 10%;
    width: 100%;
    margin-left: 100px;
}

.myPage{
    float: left;
  }
  ::-webkit-scrollbar-track {
    background: none;

  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .rotateimg180 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }