<div class="clearfix">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">App Rate</li>
          
        </ol>
    
    
   
    <!-- <div id="loaderCustom" *ngIf="loader"></div> -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
        <div widget class="card">
            <div class="table-responsive" id="table-responsive">
                <table class="table table-bordered hover">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th > Rating </th>
                            <th>Rated By</th>
                            <th >Date</th>
                            <th>Review</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!data">
                            <td colspan="7">No Data Found</td>
                        </tr>
                        <tr *ngFor="let obj of data | paginate: {itemsPerPage: rowsOnPage, currentPage:p,totalItems:totalusers }; let i = index"
                        [attr.data-index]="i">
                            <td >{{i+1}}</td>
                            <td  >
                                <i class="fa fa-star" aria-hidden="true" style="color: gold;" *ngFor="let n of range(obj.Rating)">{{$index}}</i>
                                <!-- {{obj.Rating}} -->
                            </td>
                            <td>
                                    <button type="button" class="btn btn-link" (click)="userDetailsModal(obj.userId)" id="Link-Btn">
                                            {{obj.RatedBy}}
                                        </button>
                                </td>
                            <td >{{obj.Date | date:"medium"}}</td>
                            <td >{{obj.Review}}</td>                        
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="getPage($event)"  > </pagination-controls>
  
            </div>
            <!--</div>-->
        </div>
    </div>


    
<div id="userDetails" class="modal modal-custom fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-content-custom" style="height: 550px;
        width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">User Details</h5>
            </div>
            <div class="col-lg-12 col-xs-12 bottom-15">
                <div class="clearfix">
                    <ul class="nav nav-tabs top pull-xs-left">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Profile_Details">Profile Details</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content top">
                    <div class="tab-pane active" id="Profile_Details">
                        <div class=" col-md-3 col-lg-3 ">
                            <br>
                            <img src="{{userDetails.ProfilePhoto}}" width="100" height="100">
                        </div>
                        <div class=" col-md-1 col-lg-1 ">

                        </div>
                        <div class=" col-md-8 col-lg-8 ">
                            <table class="table table-user-information" id="profile-Modal">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{userDetails.Name}}</td>
                                    </tr>
                                    <tr>
                                        <td> Phone No:</td>
                                        <td>{{userDetails.PhoneNo}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>{{userDetails.Email}}</td>
                                    </tr>

                                    <tr>
                                        <td>Registration Date</td>
                                        <td>{{userDetails.RegistrationDate | date:"medium"}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date Of Birth</td>
                                        <td>{{userDetails.DateOfBirth | date:"longDate"}} </td>

                                    </tr>
                                    <tr>
                                        <td>Age</td>
                                        <td>{{userDetails.Age}} </td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>{{userDetails.Gender}}</td>
                                    </tr>
                                    <tr>
                                        <td>Height</td>
                                        <td>{{userDetails.Height}}</td>
                                    </tr>
                                    <tr>
                                        <td> Profile Video</td>
                                        <td>
                                            <a href="{{userDetails.ProfileVideo}}" target="blank">Click to play the video</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Registered From ( City / Country )</td>
                                        <td>{{userDetails.RegisteredFrom}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>