<div class="clearfix">
  <ol class="breadcrumb">
    <!---->
    <li class="breadcrumb-item active">
      Profiles Summary
    </li>
    <li class="breadcrumb-item active">
      <a hidden="" href="/pages/form-elements/layouts">Views</a>
      <span (click)="refresh()">Views</span>

    </li>
  </ol>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-0 top-10">
  <div id="loaderCustom" *ngIf="loader"></div>
  <div widget class="card">
    <div class="row prl-10">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <input placeholder="Search by Name or User Id" [formControl]="searchViews" class="form-control" type="text">
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered hover">
        <thead>
          <tr>
            <th>S.No</th>
            <th>User Id</th>
            <th>User Name</th>
            <th>Target User Id</th>
            <th class="align-right">Target User Name</th>
            <th class="align-right">Last Viewed Date & Time</th>
            <!--<th class="align-right">Unique Views</th>-->
            <th class="align-right">Total Views</th>
            <!--<th class="align-right">Actions</th>-->
          </tr>
        </thead>
        <div *ngIf="noViewsdata">
          <div class="card-block widget-body">
            No data available
          </div>
        </div>

        <tbody *ngIf="profViews">

          <tr *ngFor="let profview of profViews  | paginate: {itemsPerPage: '10', currentPage:page, id: '1'}; let i = index">
            <td>{{i + 1}}</td>
            <td ngClass="nowrap">{{profview._id}}</td>
            <!--<td class="align-right">{{profview.viewedFName}}</td>-->
            <td class="align-right"><button type="button" title="Viewed Profiles" class="div-display btn btn-special btn-sm" (click)="profile(profview._id)"
                data-toggle="modal" data-target="#userStats"> {{profview.viewedFName}}
                     </button></td>
            <td>{{profview.ViewerId}}</td>
            <!--<td class="align-right">{{profview.viewerName}}</td>-->
            <td class="align-right"><button type="button" title="Viewed Profiles" class="div-display btn btn-special btn-sm" (click)="profile(profview.ViewerId)"
                data-toggle="modal" data-target="#userStats"> {{profview.viewerName}}
                     </button></td>
            <td class="align-right">{{profview.creationn}}</td>
            <!--<td class="align-right">{{profview.uniqueCount}}</td>-->
            <td class="align-right">
              <button type="button" title="View Summary" class="div-display btn btn-special btn-sm" data-toggle="modal" data-target="#viewers"
                (click)="getViewsData(profview._id)"><i class="fa fa-eye"></i> {{profview.totalView}}
                     </button>
            </td>
          </tr>
        </tbody>


      </table>
      <pagination-controls *ngIf="profViews" (pageChange)="page = $event" id="1" maxSize="6" directionLinks="true" autoHide="true">
      </pagination-controls>
    </div>




    <div id="viewers" class="modal fade" role="dialog">
      <div class=" ">

        <div class="col-xl-6 col-md-6 col-xs-6 offset-xl-3 offset-md-2 offset-xs-1">
          <div class="card">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Views</h5>
            </div>
            <div class="table-responsive" *ngIf="viewsSummaryData">
              <table class="table table-bordered hover">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Viewed By</th>
                    <th>Number of views</th>
                    <th>Last Viewed</th>

                    <!--<th>DeviceId</th>
                           <th>UniqueId</th>-->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of viewsSummaryData  | paginate: {itemsPerPage: '8', currentPage:page7, id: '7'}; let i = index">
                    <td ngClass="nowrap">{{i+1}}</td>
                    <td class="align-right">{{user.Data.name.FirstName}}</td>
                    <td class="align-right">{{user.ViewedBy.ViewedCount}}</td>
                    <td class="align-right">{{user.ViewedBy.DateTime}}</td>

                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="page7 = $event" id="7" maxSize="6" directionLinks="true" autoHide="true">
              </pagination-controls>
            </div>
            <div *ngIf="!viewsSummaryData">
              <div class="card-block widget-body">
                No data available
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal hide" id="userStats">
      <div class="col-xl-4 col-md-12 col-xs-12 offset-xl-4 offset-md-2 offset-xs-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 *ngIf="profileExist">About {{profileExist.name.FirstName}}</h5>
            </div>
            <div *ngIf="profileExist" class="modal-body" style="text-align:center;">
              <div class="row-fluid">
                <div class="span10 offset1">
                  <div id="modalTab">
                    <div class="tab-content">
                      <div class="tab-pane active" id="about">
                        <img class="profilebox-profile" src="{{profilePic(profileExist.ProfilePhoto)}}" name="aboutme">
                        <h3 class="media-heading">{{profileExist.name.FirstName}} <small> {{profileExist.name.LastName}}</small></h3>
                        <span><strong>Email: </strong></span>
                        <span class="label label-warning">  <i class="icon-envelope"></i> {{profileExist.Email}} <br></span>


                        <hr>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!--</div>-->
  </div>




</div>